<div class="card">
  <div class="card-header title">
    <h2>Recherche multi-critères</h2>
  </div>
  
  <div class="card-body">
    <zh-search-sdage [data]="forms?.SDAGE"></zh-search-sdage>
    <hr/>
    <zh-search-code></zh-search-code>
    <hr/>
    <zh-search-ensemble [data]="forms?.BIB_SITE_SPACE"></zh-search-ensemble>
    <hr/>
    <zh-search-area></zh-search-area>
    <hr/>
    <zh-search-departement (onSelected)="selectedDepartment=$event"></zh-search-departement>
    <zh-search-commune [department]="selectedDepartment"></zh-search-commune>
    <hr/>
  </div>
<div class="card-body">
<button
  mat-raised-button
  color="primary"
  class="btn-action hard-shadow button-success uppercase ml-3"
>
  Recherche avancée
  <mat-icon>add_circle_outline</mat-icon>
</button>
</div>
</div>