<div class="card">
  <div class="card-header title">
    <h2>Recherche multi-critères</h2>
  </div>
  
  <div class="card-body">
<zh-label label="Parc naturel régional">
  <select></select>
</zh-label>
<zh-label label="Bassin versant">
  <select></select>
</zh-label>
<zh-label label="Type SDAGE de la zone humide">
  <select></select>
</zh-label>
<zh-label label="Nom ou code de la zone humide">
  <select></select>
</zh-label>
<zh-label label="Commune">
  <select></select>
</zh-label>
<zh-label label="Grand ensemble">
  <select></select>
</zh-label>
<zh-label label="Grand ensemble">
  <select></select>
</zh-label>
<zh-label label="Superficie ZH (ha)">
  <select></select>
  <select></select>
</zh-label>
<zh-label label="Superficie ZH (ha)">
  <select></select>
  <select></select>
</zh-label>
</div>
<div class="card-body">
<button
  mat-raised-button
  color="primary"
  class="btn-action hard-shadow button-success uppercase ml-3"
>
  Recherche avancée
  <mat-icon>add_circle_outline</mat-icon>
</button>
</div>
</div>