<div class="d-flex flex-row">
  <div class="card">
    <div class="card-header title">
      <h4>Recherche multi-critères</h4>
    </div>
    <div class="card-body">
      <zh-search-sdage 
        [data]="forms?.SDAGE" 
        [form]="searchForm.get('sdage')">
      </zh-search-sdage>
      <hr/>
      <zh-search-code 
        [form]="searchForm.get('code')">
      </zh-search-code>
      <hr/>
      <zh-search-ensemble 
        [data]="forms?.BIB_SITE_SPACE" 
        [form]="searchForm.get('ensemble')">
      </zh-search-ensemble>
      <hr/>
      <zh-search-area 
        [form]="searchForm.get('area')">
      </zh-search-area>
      <hr/>
      <zh-search-input 
        label="Département" 
        [displayCode]="true"
        [data]="departements"
        (onSelected)="onDepartmentSelected($event)">
      </zh-search-input>
      <zh-search-dependant 
        label="Communes" 
        [inputData]="communes">
      </zh-search-dependant>
      <hr/>
      <zh-search-input 
        label="Bassin versant"
        [data]="bassins"
        (onSelected)="onBassinSelected($event)">
      </zh-search-input>
      <zh-search-dependant 
        label="Zones hydrographiques" 
        [inputData]="hydrographicZones">
      </zh-search-dependant>
      <hr/>
      <mat-slide-toggle 
        [checked]="advancedSearchToggled"
        (change)="advancedSearchToggled=!advancedSearchToggled">
        Recherche avancée</mat-slide-toggle>
      
      <button
        mat-raised-button
        color="primary"
        class="btn-action hard-shadow button-success uppercase ml-3"
        (click)="onSearch()"
      >
        Recherche
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="advancedSearchToggled" class="card">
    <zh-advanced-search 
      [forms]=forms
      (changed)="onAdvancedFormChanged($event)"
      ></zh-advanced-search>
  </div>
</div>
