@import '../../../app.module';
.section-title {
  color: #389938;
  padding: 0 !important;
}

.sub-title {
  color: #389938;
  font-size: 1rem;
  font-weight: 5;
  font-style: italic;
  margin-bottom: 20px;
}
