.custom-container {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 0px 15px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 10px 2px !important;
  border-radius: 3px;
  // background-color: #f3f3f3;
}

legend {
  width: auto;
  font-size: inherit;
}

.section-title {
  color: #389938;
  padding: 0 8px;
  margin-top: 8px;
}

small.required::after {
  content: "*";
  margin-left: 4px;
  color: red;
}

.navigate-btn {
  position: absolute;
  bottom: 40px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.error-msg {
  color: #ff0000;
}

mat-spinner {
  float: left;
  margin-right: 8px;
  margin-top: 8px;
  ::ng-deep circle {
    stroke: #33dd82;
  }
}

::ng-deep ng-multiselect-dropdown span.selected-item.ng-star-inserted {
  max-width: 90% !important;
  margin-bottom: 4px;
}

ng-multiselect-dropdown {
  border: none !important;
}

::ng-deep ng-multiselect-dropdown.ng-invalid .multiselect-dropdown {
  border-left: 5px solid #ff0000 !important;
}

::ng-deep ng-multiselect-dropdown .dropdown-btn {
  color: gray;
  border: 1px solid #ced4da !important;
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}

::ng-deep ng-multiselect-dropdown span.selected-item.ng-star-inserted a {
  font-weight: 600;
  margin-left: 8px;
}
