<div class="container-fluid">
  <div class="custom-container">
    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          Champs obligatoires
        </ng-template>
        <div
          class="occtax-form-content"
          [ngStyle]="{'min-height.px': cardContentHeight}"
        >
          <div class="row">
            <div
              class="col-xl-6 col-lg-7 col-sm-6"
              [ngStyle]="{'min-height.px': cardContentHeight}"
            >
              <zh-form-map></zh-form-map>
            </div>
            <div class="col-xl-6 col-lg-5 col-sm-6">
              <zh-form-tab0></zh-form-tab0>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Renseignement généraux
        </ng-template>
        <div
          class="occtax-form-content"
          [ngStyle]="{'min-height.px': cardContentHeight}"
        >
          <div class="row">
            <div
              class="col-xl-6 col-lg-7 col-sm-6"
              [ngStyle]="{'min-height.px': cardContentHeight}"
            >
              <zh-form-map></zh-form-map>
            </div>
            <div class="col-xl-6 col-lg-5 col-sm-6">
              <general-info></general-info>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          Délimitation de la zone humide et de l'espace de fonctionnalité
        </ng-template>
        <zh-form-tab2></zh-form-tab2>
      </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          Description du bassin versant et de la zone humide
        </ng-template>
        <zh-form-tab3></zh-form-tab3>
      </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          Fonctionnement de la zone humide
        </ng-template>
        <zh-form-tab4></zh-form-tab4>
      </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          Fonctions écologiques, valeurs socio-économiques, interét patrimonial
        </ng-template>
        <zh-form-tab5></zh-form-tab5>
      </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          Statuts et getion de la zone humide
        </ng-template>
        <h1>Some more tab content</h1>
      </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          Evaluation géneral du site
        </ng-template>
        <h1>Some more tab content</h1>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
