@import "../../app.module";

.custom-container {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 0px 15px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 10px 2px !important;
  border-radius: 3px;
  // background-color: #f3f3f3;
}

legend {
  width: auto;
  font-size: inherit;
}

.section-title {
  color: #389938;
  padding: 0 8px;
  margin-top: 8px;
}
