<div>
  <div class="row">
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Présentation de la zone humide et de ses milieux
          </h5>
        </legend>
        <p class="label"><b>Typologie SDAGE :</b></p>
        <p class="label"><b>Typologie locale :</b></p>
        <p class="label"><b>Remarques :</b></p>
      </fieldset>
    </div>
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">Corine Biotope</h5>
        </legend>
        <zh-table [tableCols]="corineTableCols"></zh-table>
      </fieldset>
    </div>
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Description de l'espace de fonctionnalité
          </h5>
        </legend>
        <p class="label">
          <b> Occupation des sols (Nomenclature Corine Land Cover) : </b>
        </p>
      </fieldset>
    </div>
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">Usage ou processus naturels</h5>
        </legend>
        <zh-table [tableCols]="activitiesTableCols"></zh-table>
      </fieldset>
    </div>
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Présentation de la zone humide et de ses milieux
          </h5>
        </legend>
        <p class="label"><b>Typologie SDAGE :</b></p>
        <p class="label"><b>Typologie locale :</b></p>
        <p class="label"><b>Remarques :</b></p>
      </fieldset>
    </div>
  </div>
</div>
