<div>
  <div class="row">
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Présentation de la zone humide et de ses milieux
          </h5>
        </legend>
        <zh-label label="Typologie SDAGE :">
          <span></span>
        </zh-label>
        <zh-label label="Typologie locale :">
          <span></span>
        </zh-label>
        <zh-label label="Remarques :">
          <span></span>
        </zh-label>
      </fieldset>
    </div>
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">Corine Biotope</h5>
        </legend>
        <zh-table [tableCols]="corineTableCols"></zh-table>
      </fieldset>
    </div>
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Description de l'espace de fonctionnalité
          </h5>
        </legend>
        <zh-label
          label=" Occupation des sols (Nomenclature Corine Land Cover) : "
        >
          <span></span>
        </zh-label>
      </fieldset>
    </div>
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">Usage ou processus naturels</h5>
        </legend>
        <zh-table [tableCols]="activitiesTableCols"></zh-table>
      </fieldset>
    </div>
  </div>
</div>
