<div class="container-fluid">
  <h2 class="tabsTitle">Fonctionnement de la zone humide</h2>
  <form [formGroup]="formTab4">
    <fieldset>
      <legend>
        <h5 class="section-title">Régime hydrique</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddInflow($event, inflowModal)"
        >
          <mat-icon>add_box</mat-icon>
          Entrée d'eau
        </button>
        <button
          mat-raised-button
          class="mb-3 ml-3"
          color="accent"
          (click)="onAddOutflow($event, outflowModal)"
        >
          <mat-icon>add_box</mat-icon>
          Sortie d'eau
        </button>
        <div
          *ngIf="inflowsTable && inflowsTable.length > 0"
          class="table-responsive"
        >        
        <zh-table
          [tableCols]="inflowTableCol"
          [data]="inflowsTable"
          [deletable]="true"
          [editable]="true"
          (onDelete)="onDeleteInflow($event)"
          (onEdit)="onEditInflow(inflowModal, $event)"
        ></zh-table>
        </div>
      </div>
      <div class="form-row">
        <div
          *ngIf="outflowsTable && outflowsTable.length > 0"
          class="table-responsive"
        >
        <zh-table
          [tableCols]="outflowTableCol"
          [data]="outflowsTable"
          [deletable]="true"
          [editable]="true"
          (onDelete)="onDeleteOutflow($event)"
          (onEdit)="onEditOutflow(outflowModal, $event)"
        ></zh-table>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <small>Submersion fréquence</small>
          <select
            class="form-control"
            [formControl]="formTab4.controls.frequency"
          >
            <option
              *ngFor="let freq of formMetaData.SUBMERSION_FREQ"
              [ngValue]="freq"
            >
              {{ freq.mnemonique }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <small>Submersion étendue</small>
          <select class="form-control" [formControl]="formTab4.controls.spread">
            <option
              *ngFor="let spread of formMetaData.SUBMERSION_ETENDUE"
              [ngValue]="spread"
            >
              {{ spread.mnemonique }}
            </option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">
          Connexion de la zone humide dans son environnement
        </h5>
      </legend>
      <div class="radio-list">
        <div
          *ngFor="let connexionType of connexionTypes"
          class="d-flex flex-column align-items-center radio-item"
        >
          <label
            class="form-check-label p-3"
            [for]="'inlineRadio' + connexionType.id_nomenclature"
          >
            <small class="radio-label">{{ connexionType.mnemonique }}</small>
            <img
              [src]="'external_assets/zones_humides/' + connexionType.image"
              alt=""
          /></label>
          <input
            type="radio"
            name="inlineRadioOptions"
            [id]="'inlineRadio' + connexionType.id_nomenclature"
            [formControl]="formTab4.controls.connexion"
            [value]="connexionType.id_nomenclature"
          />
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Diagnostic fonctionnel</h5>
      </legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <small>Fonctionnalité hydrologique / biogéochimique</small>
          <select
            class="form-control"
            [formControl]="formTab4.controls.diag_hydro"
          >
            <option
              *ngFor="let fct_hydro of formMetaData.FONCTIONNALITE_HYDRO"
              [ngValue]="fct_hydro"
            >
              {{ fct_hydro.mnemonique }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <small>Fonctionnalité biologique / écologique</small>
          <select
            class="form-control"
            [formControl]="formTab4.controls.diag_bio"
          >
            <option
              *ngFor="let fct_bio of formMetaData.FONCTIONNALITE_BIO"
              [ngValue]="fct_bio"
            >
              {{ fct_bio.mnemonique }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-12">
        <small>Commentaires</small>
        <textarea
          class="form-control"
          [formControl]="formTab4.controls.remark_diag"
          rows="3"
        ></textarea>
      </div>
    </fieldset>
    <div class="footer-btn">
      <zh-cancelButton
        *ngIf="currentZh"
        [zhId]="currentZh.properties.id_zh"
      ></zh-cancelButton>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ml-3"
        [disabled]="posted"
        (click)="onFormSubmit()"
      >
        <mat-icon *ngIf="!posted">save_outline</mat-icon>
        <mat-spinner *ngIf="posted" [diameter]="20"></mat-spinner>
        Enregister
      </button>
    </div>
  </form>
</div>
<!-- MODAL ENTREE EAU -->
<ng-template #inflowModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ inflowModalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="inflowForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Entrée d'eau</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="inflowForm.controls.inflow"
          >
            <option
              *ngFor="let inflow of inflowInput"
              [ngValue]="inflow"
              [disabled]="inflow.disabled"
            >
              {{ inflow.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (inflowForm.controls.inflow.touched || inflowFormSubmitted) &&
              inflowForm.controls.inflow.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Permanence</small>
          <select
            class="form-control"
            [formControl]="inflowForm.controls.permanance"
          >
            <option
              *ngFor="let permanance of formMetaData.PERMANENCE_ENTREE"
              [ngValue]="permanance"
            >
              {{ permanance.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (inflowForm.controls.permanance.touched || inflowFormSubmitted) &&
              inflowForm.controls.permanance.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Toponymie et compléments d'information</small>
          <textarea
            class="form-control"
            [formControl]="inflowForm.controls.topo"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchInflow ? onPatchInflow() : onPostInflow()"
    >
      {{ inflowModalBtnLabel }}
    </button>
  </div>
</ng-template>
<!-- MODAL SORTIE EAU -->
<ng-template #outflowModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ outflowModalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="outflowForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Sortie d'eau</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="outflowForm.controls.outflow"
          >
            <option
              *ngFor="let outflow of outflowInput"
              [ngValue]="outflow"
              [disabled]="outflow.disabled"
            >
              {{ outflow.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (outflowForm.controls.outflow.touched || outflowFormSubmitted) &&
              outflowForm.controls.outflow.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Permanence</small>
          <select
            class="form-control"
            [formControl]="outflowForm.controls.permanance"
          >
            <option
              *ngFor="let permanance of formMetaData.PERMANENCE_SORTIE"
              [ngValue]="permanance"
            >
              {{ permanance.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (outflowForm.controls.permanance.touched ||
                outflowFormSubmitted) &&
              outflowForm.controls.permanance.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Toponymie et compléments d'information</small>
          <textarea
            class="form-control"
            [formControl]="outflowForm.controls.topo"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchOutflow ? onPatchOutflow() : onPostOutflow()"
    >
      {{ outflowModalBtnLabel }}
    </button>
  </div>
</ng-template>
