<div class="container-fluid">
    <form>
        <fieldset>
            <legend>
                <h5 class="section-title">Régime hydrique</h5>
            </legend>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <small>Entrée d'eau</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Permanence</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Toponymie et complément d'informations</small>
                    <input
                        class="form-control form-control-sm"
                        type='text'
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <small>Sortie d'eau</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Permanence</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Toponymie et complément d'informations</small>
                    <input
                        class="form-control form-control-sm"
                        type='text'
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <small>Submersion fréquence</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Submersion étendue</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <h5 class="section-title">Connexion de la zone humide dans son environement</h5>
            </legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <small>Type de connexion</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                    <option></option>
                    <option>option 1</option>
                    <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <h5 class="section-title">Diagnostic fonctionnel</h5>
            </legend>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <small>Fonctionalité hydrologique</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Fonctionalité biologique</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Commentaires</small>
                    <input
                        class="form-control form-control-sm"
                        type='text'
                    />
                </div>
            </div>
        </fieldset>
    </form>
</div>