small.required::after {
  content: "*";
  margin-left: 4px;
  color: red;
}

.navigate-btn {
  position: absolute;
  bottom: 40px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.error-msg {
  color: #ff0000;
}

.table {
  background: #ffffff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid #6fcf97;
  border-radius: 4px;
  .table-header {
    background-color: #219653;
    color: white;
  }
  th {
    font-weight: 200;
  }
  tr {
    background: rgba(67, 175, 0, 0.04);
  }
  td {
    border-top: 1px solid #6fcf97;
  }
  .delete-icon {
    color: red;
    font-weight: 600;
  }
  .edit-icon {
    color: #219653;
  }
}

mat-spinner {
  float: left;
  margin-right: 8px;
  margin-top: 8px;
  ::ng-deep circle {
    stroke: #33dd82;
  }
}

::ng-deep ng-multiselect-dropdown span.selected-item.ng-star-inserted {
  max-width: 90% !important;
  margin-bottom: 4px;
}

ng-multiselect-dropdown {
  border: none !important;
}

::ng-deep ng-multiselect-dropdown.ng-invalid .multiselect-dropdown {
  border-left: 5px solid #ff0000 !important;
}

::ng-deep
  ng-multiselect-dropdown
  .multiselect-dropdown
  .dropdown-btn
  .selected-item {
  background: #219653 !important;
  border: 1px solid #219653 !important;
}

::ng-deep ng-multiselect-dropdown .dropdown-btn {
  color: gray;
  border: 1px solid #ced4da !important;
  border-radius: 0.2rem !important;
}

::ng-deep ng-multiselect-dropdown span.selected-item.ng-star-inserted a {
  font-weight: 600;
  margin-left: 8px;
}

fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 10px 2px !important;
  border-radius: 3px;
  .section-title {
    color: #389938;
    padding: 0 8px;
    margin-top: 8px;
  }
}

legend {
  width: auto;
  font-size: inherit;
}

::ng-deep pnx-autocomplete {
  input {
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
  }
}
form.ng-invalid {
  border: none !important;
}
button:focus {
  outline: 0;
}
