::ng-deep angular2-multiselect {
  .c-btn {
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
  }

  .selected-list .c-list {
    padding-right: 10px;
  }
  .selected-list .c-list .c-token {
    background: #219653;
  }
  .selected-list .c-list .c-token .c-label {
    color: #fff;
  }
  .selected-list .c-list .c-token .c-remove svg {
    fill: #fff;
  }

  .selected-list .c-angle-down svg,
  .selected-list .c-angle-up svg {
    fill: #333;
  }

  .dropdown-list ul li:hover {
    background: #f5f5f5;
  }

  .arrow-up,
  .arrow-down {
    border-bottom: 15px solid #fff;
  }

  .arrow-2 {
    border-bottom: 15px solid #ccc;
  }

  .list-area {
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0px 1px 5px #959595;
  }

  .select-all {
    border-bottom: 1px solid #ccc;
  }

  .list-filter {
    border-bottom: 1px solid #ccc;
  }
  .list-filter .c-search svg {
    fill: #888;
  }
  .list-filter .c-clear svg {
    fill: #888;
  }

  .pure-checkbox input[type="checkbox"]:focus + label:before,
  .pure-checkbox input[type="checkbox"]:hover + label:before {
    border-color: #219653;
    background-color: #f2f2f2;
  }

  .pure-checkbox input[type="checkbox"] + label {
    color: #000;
  }

  ::ng-deep .pure-checkbox input[type="checkbox"] + label:before {
    color: #219653;
    border: 1px solid #219653;
  }

  ::ng-deep .pure-checkbox input[type="checkbox"] + label:after {
    background-color: #219653;
  }

  .pure-checkbox input[type="checkbox"]:disabled + label:before {
    border-color: #cccccc;
  }

  .pure-checkbox input[type="checkbox"]:disabled:checked + label:before {
    background-color: #cccccc;
  }

  .pure-checkbox input[type="checkbox"] + label:after {
    border-color: #ffffff;
  }

  .pure-checkbox input[type="radio"]:checked + label:before {
    background-color: white;
  }

  .pure-checkbox input[type="checkbox"]:checked + label:before {
    background: #219653;
  }

  .single-select-mode
    .pure-checkbox
    input[type="checkbox"]:focus
    + label:before,
  .single-select-mode
    .pure-checkbox
    input[type="checkbox"]:hover
    + label:before {
    border-color: #219653;
    background-color: #f2f2f2;
  }

  .single-select-mode .pure-checkbox input[type="checkbox"] + label {
    color: #000;
  }

  .single-select-mode .pure-checkbox input[type="checkbox"] + label:before {
    color: transparent !important;
    border: 0px solid #219653;
  }

  .single-select-mode .pure-checkbox input[type="checkbox"] + label:after {
    background-color: transparent !important;
  }

  .single-select-mode
    .pure-checkbox
    input[type="checkbox"]:disabled
    + label:before {
    border-color: #cccccc;
  }

  .single-select-mode
    .pure-checkbox
    input[type="checkbox"]:disabled:checked
    + label:before {
    background-color: #cccccc;
  }

  .single-select-mode .pure-checkbox input[type="checkbox"] + label:after {
    border-color: #219653;
  }

  .single-select-mode
    .pure-checkbox
    input[type="radio"]:checked
    + label:before {
    background-color: white;
  }

  .single-select-mode
    .pure-checkbox
    input[type="checkbox"]:checked
    + label:before {
    background: none !important;
  }

  .selected-item {
    background: #effcf4;
  }

  .btn-iceblue {
    background: #219653;
    border: 1px solid #ccc;
    color: #fff;
  }
}

small.required::after {
  content: "*";
  margin-left: 4px;
  color: red;
}

.footer-btn {
  position: fixed;
  right: 0;
  bottom: 26px;
  left: 0%;
  z-index: 1030;
  text-align: right;
  margin-right: 65px;
}

.error-msg {
  color: #ff0000;
}

.table {
  background: #ffffff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid #6fcf97;
  border-radius: 4px;
  .table-header {
    background-color: #219653;
    color: white;
  }
  th {
    font-weight: 200;
  }
  tbody {
    tr {
      background: rgba(67, 175, 0, 0.04);
    }
    td {
      border-top: 1px solid #6fcf97;
      vertical-align: middle;
    }
  }
  .delete-icon {
    color: red;
    font-weight: 600;
  }
  .edit-icon {
    color: #219653;
  }
}

.subtable {
  border-bottom: 1px solid #777977;
  .table-header {
    color: black;
    background-color: rgba(116, 167, 137, 1);
  }
  tbody {
    tr {
      background: white;
    }
    td {
      border-top: 1px solid #80808045;
    }
  }
}

mat-spinner {
  float: left;
  margin-right: 8px;
  margin-top: 8px;
  ::ng-deep circle {
    stroke: #33dd82;
  }
}

::ng-deep ng-multiselect-dropdown span.selected-item.ng-star-inserted {
  max-width: 90% !important;
  margin-bottom: 4px;
}

ng-multiselect-dropdown {
  border: none !important;
}

::ng-deep ng-multiselect-dropdown.ng-invalid .multiselect-dropdown {
  border-left: 5px solid #ff0000 !important;
}

::ng-deep
  ng-multiselect-dropdown
  .multiselect-dropdown
  .dropdown-btn
  .selected-item {
  background: #219653 !important;
  border: 1px solid #219653 !important;
}

::ng-deep ng-multiselect-dropdown .dropdown-btn {
  color: gray;
  border: 1px solid #ced4da !important;
  border-radius: 0.2rem !important;
}

::ng-deep ng-multiselect-dropdown span.selected-item.ng-star-inserted a {
  font-weight: 600;
  margin-left: 8px;
}

fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 10px 2px !important;
  border-radius: 3px;
  .section-title {
    color: #389938;
    padding: 0 8px;
    margin-top: 8px;
  }
}

legend {
  width: auto;
  font-size: inherit;
}

::ng-deep pnx-autocomplete {
  input {
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
  }
}
form.ng-invalid {
  border: none !important;
}
button:focus {
  outline: 0;
}

/* .footer-btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0px;
  padding: 10px 26px;
  background-color: #dedede;
  display: flex;
  justify-content: flex-end;
  //box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px rgb(0 0 0 / 14%), 0px 1px 5px rgb(0 0 0 / 12%);
} */

.tabsTitle {
  margin: 16px 0;
  font-size: 1.7rem;
}

small {
  font-weight: 600;
}

.tabsSubtitle {
  margin: 16px 0;
  font-size: 1.5rem;
  font-style: italic;
  color: #219653;
}
