<div>
  <div class="row my-3">
    <div class="col-12 h-100">
      <fieldset>
        <legend>
          <h5 class="section-title">Régime foncier - Statut de propriété</h5>
        </legend>
        <div>
          <zh-table
            [tableCols]="regimeTableCol"
            [data]="data.regime"
          ></zh-table>
        </div>
      </fieldset>
    </div>
    <div class="col-12 h-100">
      <fieldset>
        <legend>
          <h5 class="section-title">Structure de gestion</h5>
        </legend>
        <div class="mb-3" *ngFor="let struct of data.structure">
          <p class="structure-label">{{ struct.structure }} :</p>
          <div>
            <zh-table
              [tableCols]="plansTableCol"
              [data]="struct.plans"
            ></zh-table>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-12 h-100">
      <fieldset>
        <legend>
          <h5 class="section-title">Instruments contractuels et financiers</h5>
        </legend>
        <div>
          <zh-table
            [tableCols]="instrumentsTableCol"
            [data]="data.instruments"
          ></zh-table>
        </div>
      </fieldset>
    </div>
    <div class="col-12 h-100">
      <fieldset>
        <legend>
          <h5 class="section-title">Inventaires</h5>
        </legend>
        <zh-label label="">
          <ul>
            <li class="label-item" *ngFor="let ref of data.autre_inventaire">
              {{ ref.zh_type_name }} - {{ ref.area_code }} - 
              <a href="{{ ref.url }}" target="_blank">{{ ref.area_name }}</a>
            </li>
          </ul>
        </zh-label>
        <zh-label label="Autres études / inventaires naturalistes : ">
          <span>{{ data.autre_etude }}</span>
        </zh-label>
        <zh-label *ngIf="data?.autres_etude_commentaire" label="Commentaires : ">
          <span>{{ data?.autres_etude_commentaire }}</span>
        </zh-label>
      </fieldset>
    </div>
    <div class="col-12 h-100">
      <fieldset>
        <legend>
          <h5 class="section-title">Principaux statuts</h5>
        </legend>
        <zh-label label="Statuts : ">
          <ul>
            <li class="label-item" *ngFor="let item of data.statuts">
              <span>{{ item }}</span>
            </li>
          </ul>
        </zh-label>
      </fieldset>
    </div>

    <div class="col-12 h-100">
      <fieldset>
        <legend>
          <h5 class="section-title">Zonage des documents d'urbanisme</h5>
        </legend>
        <div>
          <zh-table
            [tableCols]="zonageTableCol"
            [data]="data.zonage"
          ></zh-table>
        </div>
      </fieldset>
    </div>
  </div>
</div>
