@import "../../../app.module";
.changeButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.backButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: rgb(144, 204, 197);
  border: 4px solid rgba(144, 204, 197, 0.7);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px 0;
}

.header {
  margin: 10px 2px 16px;
}
