<div class="container-fluid">
  <div
    class="custom-container"
    [ngStyle]="{ 'min-height.px': cardContentHeight }"
  >
    <mat-tab-group
      #tabs
      animationDuration="0ms"
      [selectedIndex]="selectedIndex"
      (selectedIndexChange)="selectedIndexChange($event)"
    >
      <mat-tab>
        <ng-template mat-tab-label> Champs obligatoires </ng-template>
        <zh-form-tab0
          *ngIf="formMetaData"
          class="d-flex flex-column"
          [ngStyle]="{ 'height.px': cardContentHeight }"
          [formMetaData]="formMetaData"
          (activeTabs)="onActiveTabs($event)"
          (canChangeTab)="onCanChangeTab($event)"
        >
        </zh-form-tab0>
      </mat-tab>
      <mat-tab [disabled]="disabledTabs">
        <ng-template mat-tab-label> Renseignement généraux </ng-template>
        <zh-form-tab1
          *ngIf="formMetaData"
          class="d-flex flex-column"
          [ngStyle]="{ 'height.px': cardContentHeight }"
          [formMetaData]="formMetaData"
          (canChangeTab)="onCanChangeTab($event)"
        >
        </zh-form-tab1>
      </mat-tab>
      <mat-tab [disabled]="disabledTabs">
        <ng-template mat-tab-label>
          Délimitation de la zone humide et de l'espace de fonctionnalité
        </ng-template>
        <zh-form-tab2
          *ngIf="formMetaData"
          class="d-flex flex-column"
          [ngStyle]="{ 'height.px': cardContentHeight }"
          [formMetaData]="formMetaData"
          (canChangeTab)="onCanChangeTab($event)"
        >
        </zh-form-tab2>
      </mat-tab>
      <mat-tab [disabled]="disabledTabs">
        <ng-template mat-tab-label>
          Description du bassin versant et de la zone humide
        </ng-template>
        <zh-form-tab3
          *ngIf="formMetaData"
          class="d-flex flex-column"
          [formMetaData]="formMetaData"
          (canChangeTab)="onCanChangeTab($event)"
        >
        </zh-form-tab3>
      </mat-tab>
      <mat-tab [disabled]="disabledTabs">
        <ng-template mat-tab-label>
          Fonctionnement de la zone humide
        </ng-template>
        <zh-form-tab4
          *ngIf="formMetaData"
          class="d-flex flex-column"
          [ngStyle]="{ 'height.px': cardContentHeight }"
          [formMetaData]="formMetaData"
          (canChangeTab)="onCanChangeTab($event)"
        ></zh-form-tab4>
      </mat-tab>
      <mat-tab [disabled]="disabledTabs">
        <ng-template mat-tab-label>
          Fonctions écologiques, valeurs socio-économiques, interét patrimonial
        </ng-template>
        <zh-form-tab5
          *ngIf="formMetaData"
          class="d-flex flex-column"
          [ngStyle]="{ 'height.px': cardContentHeight }"
          [formMetaData]="formMetaData"
          (canChangeTab)="onCanChangeTab($event)"
        ></zh-form-tab5>
      </mat-tab>
      <mat-tab [disabled]="disabledTabs">
        <ng-template mat-tab-label>
          Statuts et gestion de la zone humide
        </ng-template>
        <zh-form-tab6
          *ngIf="formMetaData"
          class="d-flex flex-column"
          [ngStyle]="{ 'height.px': cardContentHeight }"
          [formMetaData]="formMetaData"
          (canChangeTab)="onCanChangeTab($event)"
        ></zh-form-tab6>
      </mat-tab>
      <mat-tab [disabled]="disabledTabs">
        <ng-template mat-tab-label> Evaluation géneral du site </ng-template>
        <h1>Some more tab content</h1>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!--  CHANGE TAB MODAL -->
<ng-template #tabsChangeModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-exchange"></i></h5>
  </div>
  <div class="modal-body">
    Êtes-vous sûr de vouloir changer d'onglet sans enregistrer vos modifications
    ?
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      class="mr-1 uppercase"
      (click)="onChangeTab(false)"
    >
      Annuler
    </button>
    <button
      type="button"
      mat-raised-button
      color="warn"
      class="uppercase"
      (click)="onChangeTab(true)"
    >
      oui
    </button>
  </div>
</ng-template>
