fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 10px 2px !important;
  border-radius: 3px;
  // background-color: #f3f3f3;
}

legend {
  width: auto;
  font-size: inherit;
}

.section-title {
  color: #389938;
  padding: 0 8px;
  margin-top: 8px;
}

small.required::after {
  content: "*";
  margin-left: 4px;
  color: red;
}

.labelBeforeSlide {
  vertical-align: top;
  line-height: 24px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
