<div>
  <form [formGroup]="generalInfoForm">
    <h2 class="tabsTitle">Renseignements Généraux</h2>
    <fieldset>
      <legend>
        <h5 class="section-title">Identification</h5>
      </legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Nom Usuel</small>
          <input
            class="form-control"
            type="text"
            [formControl]="generalInfoForm.controls.main_name"
          />
          <small
            *ngIf="
              (generalInfoForm.controls.main_name.touched || submitted) &&
              generalInfoForm.controls.main_name.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small>Autre nom</small>
          <input
            class="form-control"
            type="text"
            [formControl]="generalInfoForm.controls.secondary_name"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <small style="display: block; margin-bottom: 8px"
            >Partie d'un grand ensemble ?</small
          >
          <mat-label ngClass="labelBeforeSlide">Non</mat-label>
          <mat-slide-toggle
            [formControl]="generalInfoForm.controls.is_id_site_space"
            >oui</mat-slide-toggle
          >
        </div>
        <div *ngIf="hasSiteSpace" class="form-group col-md-6">
          <small>Nom du grand ensemble</small>
          <select
            list="grandEnsemble"
            name="grandEnsemble"
            class="form-control"
            [formControl]="generalInfoForm.controls.id_site_space"
          >
            <option [ngValue]="null"></option>
            <option
              *ngFor="let siteSpace of siteSpaceList"
              [ngValue]="siteSpace.id_site_space"
            >
              {{ siteSpace.name }}
            </option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Principales références bibliographiques</h5>
      </legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <small>Références bibliographiques</small>
          <input
            id="typeahead-basic"
            type="text"
            class="form-control"
            placeholder="Tapez les premières lettres..."
            [(ngModel)]="autocompleteBib"
            [ngModelOptions]="{ standalone: true }"
            [resultFormatter]="formatter"
            [inputFormatter]="formatter"
            [ngbTypeahead]="search"
            (selectItem)="onSelectBib($event)"
          />
        </div>
        <div class="form-group d-flex align-items-end col-md-6">
          <button
            mat-raised-button
            color="primary"
            (click)="onCreateBib($event, bibModal)"
          >
            <mat-icon>add_box</mat-icon>
            Créer
          </button>
        </div>
      </div>
      <div
        *ngIf="listBib && listBib.length > 0"
        class="card-body table-responsive"
      >
        <zh-table
        [tableCols]="cols"
        [data]="listBib"
        [editable]="true"
        [deletable]="true"
        (onEdit)="onEditBib(bibModal, $event)"
        (onDelete)="onDeleteBib($event?.id_reference)"
        ></zh-table>
      </div>
    </fieldset>
  </form>
  <div class="footer-btn">
    <zh-cancelButton
      *ngIf="currentZh"
      [zhId]="currentZh.properties.id_zh"
    ></zh-cancelButton>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="ml-3"
      [disabled]="posted"
      (click)="onFormSubmit(generalInfoForm.value)"
    >
      <mat-icon *ngIf="!posted">save_outline</mat-icon>
      <mat-spinner *ngIf="posted" [diameter]="20"></mat-spinner>
      Enregistrer
    </button>
  </div>
</div>
<!-- MODAL bib -->
<ng-template #bibModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalBibTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="bibForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Titre du document</small>
          <input
            ngbAutofocus
            [formControl]="bibForm.controls.title"
            class="form-control"
            type="text"
          />
          <small
            *ngIf="
              (bibForm.controls.title.touched || submitted) &&
              bibForm.controls.title.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small>Auteurs</small>
          <input
            [formControl]="bibForm.controls.authors"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group col-md-6">
          <small>Année de parution</small>
          <input
            [formControl]="bibForm.controls.pub_year"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group col-md-6">
          <small>Editeur</small>
          <input
            [formControl]="bibForm.controls.editor"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group col-md-6">
          <small>Lieu</small>
          <input
            [formControl]="bibForm.controls.editor_location"
            class="form-control"
            type="text"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchBib ? onPatchBib() : onAddBib()"
      [disabled]="postedBib"
    >
      <mat-spinner *ngIf="postedBib" [diameter]="20"></mat-spinner>
      {{ modalBibButtonLabel }}
    </button>
  </div>
</ng-template>
