@import "../../../app.module";
.modal-header {
  justify-content: flex-end;
  padding: 10px 8px 0;
  border: none;
}
.footer-modal-btn {
  margin: 20px 24px;
  display: flex;
  justify-content: space-around;
}
.modal-body {
  font-size: 18px;
  padding: 10px 24px 16px;
}

::ng-deep .cancel-modal .modal-dialog {
  max-width: 600px;
}

.warning-icon {
  position: relative;
  top: 5px;
}

.warning {
  color: var(--danger);
}
