<div>
  <form [formGroup]="formTab2">
    <h2 class="tabsTitle">Délimitation de la zone humide et de l'espace de fonctionnalité</h2>
    <fieldset>
      <legend>
        <h5 class="section-title">Critères de délimitation de la zone humide</h5>
      </legend>
      <div class="form-row">
        <div class="form-group col-md-12">
          <small class="required">Critères utilisés</small>
          <zh-multiselect
            placeholder="Critères utilisés"
            keyLabel="mnemonique"
            [values]="formMetaData.CRIT_DELIM"
            [parentFormControl]="formTab2.controls.critere_delim"
          />
        </div>
        <div class="form-group col-md-12">
          <small>Remarque</small>
          <textarea class="form-control form-control-sm" rows="3" formControlName="remark_lim">
          </textarea>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Critères de délimitation de l'espace de fonctionnalité</h5>
      </legend>
      <div class="form-row">
        <div class="form-group col-md-12">
          <small>Critères utilisés</small>
          <zh-multiselect placeholder="Critères utilisés"
            keyLabel="mnemonique"
            [values]="critDelimFct"
            [parentFormControl]="formTab2.controls.critere_delim_fs"
          />
        </div>
        <div class="form-group col-md-12">
          <small>Remarque</small>
          <textarea class="form-control form-control-sm" rows="3" formControlName="remark_lim_fs">
          </textarea>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="footer-btn">
    <zh-cancelButton *ngIf="currentZh" [zhId]="currentZh.properties.id_zh"></zh-cancelButton>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="ml-3"
      [disabled]="posted"
      (click)="onFormSubmit(formTab2.value)"
    >
      <mat-icon *ngIf="!posted">save_outline</mat-icon>
      <mat-spinner *ngIf="posted" [diameter]="20"></mat-spinner>
      Enregistrer
    </button>
  </div>
</div>
