<form>
    <fieldset>
        <legend>
            <h5 class="section-title">Champs obligatoires</h5>
        </legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                <small class="required">Nom Usuel</small>
                <input
                class="form-control form-control-sm"
                type='text'
                [formControl]="formTab0.controls.name"
                />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <small>Critères de délimitation de la zone humide</small>
                <select 
                    class="form-control form-control-sm" 
                    [formControl]="formTab0.controls.critere_delim">
                    <option
                        *ngFor="let crit of critDelim"
                        [ngValue]="crit.id_nomenclature"
                    >
                        {{crit.mnemonique}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <small>Présentation de la zone humide et de ses milieux </small>
                <select 
                    class="form-control form-control-sm" 
                    [formControl]="formTab0.controls.sdage">
                    <option
                        *ngFor="let sd of sdage"
                        [ngValue]="sd.id_nomenclature"
                    >
                        {{sd.mnemonique}}</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>
<div class="navigate-btn">
    <button
        type="submit"
        class="d-flex justify-content-center align-content-between"
        mat-raised-button
        color=primary
        (click)="onFormTab0(formTab0.value)"
        id="validate"
    >
    Send
    </button>
</div>