<div class="card">
  <div class="card-header title">
    <h4>Recherche avancée</h4>
  </div>
  <div class="card-body">
    <zh-advanced-search-fonctions 
    title="Fonctions hydrologiques"
    [form]="advancedForm.get('hydro')"
    [data]="data.FONCTIONS_HYDRO"
    [connaissances]="data.FONCTIONS_CONNAISSANCE"
    [qualifications]="data.FONCTIONS_QUALIF">
  </zh-advanced-search-fonctions>
  <zh-advanced-search-fonctions 
    title="Fonctions biologiques"
    [form]="advancedForm.get('bio')"
    [data]="data.FONCTIONS_BIO"
    [connaissances]="data.FONCTIONS_CONNAISSANCE"
    [qualifications]="data.FONCTIONS_QUALIF">
  </zh-advanced-search-fonctions>
  <zh-advanced-search-fonctions 
  title="Valeurs socio-économiques"
  [form]="advancedForm.get('socio')"
  fonctionLabel="Valeur"
  [data]="data.VAL_SOC_ECO"
  [connaissances]="data.FONCTIONS_CONNAISSANCE"
  [qualifications]="data.FONCTIONS_QUALIF">
  </zh-advanced-search-fonctions>
  <zh-advanced-search-fonctions 
  title="Intérêt patrimonial"
  [form]="advancedForm.get('interet')"
  fonctionLabel="Intérêt"
  [data]="data.INTERET_PATRIM"
  [connaissances]="data.FONCTIONS_CONNAISSANCE"
  [qualifications]="data.FONCTIONS_QUALIF">
  </zh-advanced-search-fonctions>
  <zh-advanced-search-statuts
  [form]="advancedForm.get('statuts')"
  [statuts]="data.STATUT_PROPRIETE"
  [plans]="data.PLAN_GESTION"
  ></zh-advanced-search-statuts>
  </div>
</div>