<div class="d-flex flex-row">
  <div class="card">
    <div class="card-header title">
      <div class="d-flex justify-content-between">
        <h4>Recherche hiérarchisation</h4>
      </div>
    </div>
    <div class="card-body">
      <div
        class="row"
        *ngIf="riverBasin?.value?.code; else noZone"
      >
        <div class="col-12">
          <zh-hierarchy-search-table
            [form]="form"
            [riverBasin]="riverBasin?.value"
          ></zh-hierarchy-search-table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noZone>
  <span>
    Veuillez sélectionner au moins un bassin versant pour accéder aux filtres sur la hiérarchisation
  </span>
</ng-template>
