@import "../../../app.module";

.label {
  font-weight: 600;
  margin-right: 6px;
  margin-bottom: 4px;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
