<div class="container-fluid">
  <h2 class="tabsTitle">Fonctions et valeurs de la zone humide</h2>
  <form>
    <fieldset>
      <legend>
        <h5 class="section-title">Fonctions hydrologiques / biogéochimiques</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddHydroFct($event, hydroFctModal)"
        >
          <mat-icon>add_box</mat-icon>
          Fonction
        </button>
      </div>
      <div *ngIf="fctHydroTable && fctHydroTable.length > 0" class="table-responsive">
        <zh-table
          [tableCols]="hydroFctTableCol"
          [data]="fctHydroTable"
          [deletable]="true"
          [editable]="true"
          (onDelete)="onDeleteHydroFct($event)"
          (onEdit)="onEditHydroFct(hydroFctModal, $event)"
        ></zh-table>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Fonctions biologiques / écologiques</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddBioFct($event, bioFctModal)"
        >
          <mat-icon>add_box</mat-icon>
          Fonction
        </button>
      </div>
      <div *ngIf="bioFctTable && bioFctTable.length > 0" class="table-responsive">
        <zh-table
          [tableCols]="bioFctTableCol"
          [data]="bioFctTable"
          [deletable]="true"
          [editable]="true"
          (onDelete)="onDeleteBioFct($event)"
          (onEdit)="onEditBioFct(bioFctModal, $event)"
        ></zh-table>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Intérêts patrimoniaux</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddInteretPat($event, interetPatModal)"
        >
          <mat-icon>add_box</mat-icon>
          Intérêt
        </button>
        <div *ngIf="interetPatTable && interetPatTable.length > 0" class="table-responsive">
          <zh-table
            [tableCols]="interetsTableCol"
            [data]="interetPatTable"
            [deletable]="true"
            [editable]="true"
            (onDelete)="onDeleteInteretPat($event)"
            (onEdit)="onEditInteretPat(interetPatModal, $event)"
          ></zh-table>
        </div>
      </div>
      <h3 class="sub-title">Habitats naturels humides patrimoniaux</h3>
      <div class="form-row">
        <div class="form-group col-md-4">
          <small style="display: block; margin-bottom: 8px">Cartographie d'habitats</small>
          <mat-label ngClass="labelBeforeSlide">Non</mat-label>
          <mat-slide-toggle [formControl]="formTab5.controls.is_carto_hab">oui</mat-slide-toggle>
        </div>
        <div class="form-group col-md-4">
          <small>Nombre d'habitats</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.nb_hab"
            type="number"
            min="0"
            max="100"
          />
          <small
            *ngIf="formTab5.controls.nb_hab.value && formTab5.controls.nb_hab.errors?.min"
            class="error-msg"
            >Le nombre d'habitat(s) doit être supérieur à 0
          </small>
        </div>
        <div class="form-group col-md-4">
          <small>Recouvrement total sur la ZH (%)</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.total_hab_cover"
            type="number"
            min="0"
            max="100"
          />
          <small
            *ngIf="
              formTab5.controls.total_hab_cover.value &&
              (formTab5.controls.total_hab_cover.errors?.min ||
                formTab5.controls.total_hab_cover.errors?.max)
            "
            class="error-msg"
            >La valeur doit être comprise entre 0 et 100
          </small>
        </div>
      </div>
      <div class="form-row">
        <small style="display: block; margin-bottom: 8px">Liste des habitats</small>
      </div>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddCorineBio($event, corineBioModal)"
        >
          <mat-icon>add_box</mat-icon>
          Habitat
        </button>
        <div *ngIf="corineBioTable && corineBioTable.length > 0" class="table-responsive">
          <i class="hint-text"
            >*I.C. = Intérêt communautaire; P.R. = Intérêt communautaire prioritaire</i
          >
          <zh-table
            [tableCols]="corineTableCol"
            [data]="corineBioTable"
            [deletable]="true"
            [editable]="true"
            (onDelete)="onDeleteCorineBio($event)"
            (onEdit)="onEditCorineBio(corineBioModal, $event)"
          ></zh-table>
        </div>
      </div>
      <h3 class="sub-title">Faune et flore patrimoniale</h3>
      <div class="form-row">
        <div class="mb-1 col-12">
          <small>Liste des espèces à statut de protection et/ou de conservation</small>
        </div>
        <div class="mb-2 col-12">
          <button mat-raised-button class="mb-3" color="primary" (click)="onGenerateTaxa()">
            <mat-icon>add_box</mat-icon>
            <mat-spinner *ngIf="taxaLoading" color="warn" diameter="25"></mat-spinner>
            Générer la liste des espèces
          </button>
          <mat-icon
            class="info-icon"
            color="primary"
            [ngbTooltip]="htmlContent"
            tooltipClass="wide-tooltip"
            placement="right"
            triggers="click:blur"
          >
            help
          </mat-icon>
          <ng-template #htmlContent>
            <div class="bulle">
              En fonction des données présentes dans la base de données ciblée par l'instance, ce
              dispositif génère un fichier csv horodaté par type de taxon :
              <ul>
                <li>Flore</li>
                <li>Faune, groupes des vertébrés</li>
                <li>Faune, groupes des invertébrés</li>
              </ul>
              <p>
                Une fois générés, ces fichiers sont archivés dans le présent onglet ainsi que dans
                l'onglet 8 regroupant les ressources documentaires de la ZH.
              </p>

              <p>Sont concernées les espèces observées :</p>
              <ul>
                <li>rattachées à un pointage précis avec des coordonnées géographiques</li>
                <li>
                  ayant au moins un statut d’évaluation et/ou de protection et/ou de menace (au
                  minimum de vulnérable)
                </li>
                <li>depuis moins de 20 ans</li>
                <li>dans le périmètre strict de la zone humide cartographiée</li>
              </ul>
              Dans le cas d'absence d'observation répondant à ces critères, aucun fichier ne sera
              généré
            </div>
          </ng-template>
          <ng-container *ngIf="_filesService.filterByExtension(['csv']).length > 0">
            <zh-table
              [tableCols]="fileTableCol"
              [data]="_filesService.filterByExtension(['csv'])"
              [downloadable]="true"
              (onDownload)="_filesService.downloadFile($event)"
            ></zh-table>
            <p class="hint">
              Vous pouvez retrouver ces fichiers dans l'onglet des ressources documentaires (<a
                [routerLink]=""
                (click)="nextTab.emit(8)"
                >onglet 8</a
              >)
            </p>
          </ng-container>
        </div>
        <div class="form-group col-md-4">
          <small>Flore - nombre d'espèces</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.nb_flora_sp"
            type="number"
            min="0"
          />
          <small
            *ngIf="formTab5.controls.nb_flora_sp.value && formTab5.controls.nb_flora_sp.errors?.min"
            class="error-msg"
            >Le nombre d'espèce(s) doit être supérieur à 0
          </small>
        </div>
        <div class="form-group col-md-4">
          <small>Faune vertébrée - nombre d'espèces</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.nb_vertebrate_sp"
            type="number"
            min="0"
          />
          <small
            *ngIf="
              formTab5.controls.nb_vertebrate_sp.value &&
              formTab5.controls.nb_vertebrate_sp.errors?.min
            "
            class="error-msg"
            >Le nombre d'espèce(s) doit être supérieur à 0
          </small>
        </div>
        <div class="form-group col-md-4">
          <small>Faune invertébrée - nombre d'espèces</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.nb_invertebrate_sp"
            type="number"
            min="0"
          />
          <small
            *ngIf="
              formTab5.controls.nb_invertebrate_sp.value &&
              formTab5.controls.nb_invertebrate_sp.errors?.min
            "
            class="error-msg"
            >Le nombre d'espèce(s) doit être supérieur à 0
          </small>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Valeurs socio-économiques</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddValSocEco($event, valSocEcoModal)"
        >
          <mat-icon>add_box</mat-icon>
          Valeur
        </button>
        <div *ngIf="valSocEcoTable && valSocEcoTable.length > 0" class="table-responsive">
          <zh-table
            [tableCols]="socioEcoTableCol"
            [data]="valSocEcoTable"
            [deletable]="true"
            [editable]="true"
            (onDelete)="onDeleteValSocEco($event)"
            (onEdit)="onEditValSocEco(valSocEcoModal, $event)"
          ></zh-table>
        </div>
      </div>
    </fieldset>
    <div class="footer-btn">
      <zh-cancelButton *ngIf="currentZh" [zhId]="currentZh.properties.id_zh"></zh-cancelButton>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ml-3"
        [disabled]="posted"
        (click)="onFormSubmit()"
      >
        <mat-icon *ngIf="!posted">save_outline</mat-icon>
        <mat-spinner *ngIf="posted" [diameter]="20"></mat-spinner>
        Enregistrer
      </button>
    </div>
  </form>
</div>
<!-- Modal fonctions hydrologiques -->
<ng-template #hydroFctModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="hydroFctForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Fonctions</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="hydroFctForm.controls.function"
          >
            <optgroup *ngFor="let group of fctHydroInput" label="{{ group[0].category }}">
              <option *ngFor="let item of group" [ngValue]="item" [disabled]="item.disabled">
                {{ item.mnemonique }}
              </option>
            </optgroup>
          </select>
          <small
            *ngIf="
              (hydroFctForm.controls.function.touched || modalFormSubmitted) &&
              hydroFctForm.controls.function.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Qualifications</small>
          <select class="form-control" [formControl]="hydroFctForm.controls.qualification">
            <option *ngFor="let qualif of formMetaData.FONCTIONS_QUALIF" [ngValue]="qualif">
              {{ qualif.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (hydroFctForm.controls.qualification.touched || modalFormSubmitted) &&
              hydroFctForm.controls.qualification.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Connaissance</small>
          <select class="form-control" [formControl]="hydroFctForm.controls.knowledge">
            <option
              *ngFor="let knowledge of formMetaData.FONCTIONS_CONNAISSANCE"
              [ngValue]="knowledge"
            >
              {{ knowledge.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (hydroFctForm.controls.knowledge.touched || modalFormSubmitted) &&
              hydroFctForm.controls.knowledge.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Justifications</small>
          <textarea
            class="form-control"
            [formControl]="hydroFctForm.controls.justification"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchHydroFct() : onPostHydroFct()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>

<!-- Modal fonctions biologiques -->
<ng-template #bioFctModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="bioFctForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Fonctions</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="bioFctForm.controls.function"
          >
            <optgroup
              *ngFor="let group of bioFctInput"
              label="{{ group[0].category }}"
              class="test"
            >
              <option *ngFor="let item of group" [ngValue]="item" [disabled]="item.disabled">
                {{ item.mnemonique }}
              </option>
            </optgroup>
          </select>
          <small
            *ngIf="
              (bioFctForm.controls.function.touched || modalFormSubmitted) &&
              bioFctForm.controls.function.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Qualifications</small>
          <select class="form-control" [formControl]="bioFctForm.controls.qualification">
            <option *ngFor="let qualif of formMetaData.FONCTIONS_QUALIF" [ngValue]="qualif">
              {{ qualif.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (bioFctForm.controls.qualification.touched || modalFormSubmitted) &&
              bioFctForm.controls.qualification.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Connaissance</small>
          <select class="form-control" [formControl]="bioFctForm.controls.knowledge">
            <option
              *ngFor="let knowledge of formMetaData.FONCTIONS_CONNAISSANCE"
              [ngValue]="knowledge"
            >
              {{ knowledge.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (bioFctForm.controls.knowledge.touched || modalFormSubmitted) &&
              bioFctForm.controls.knowledge.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Justifications</small>
          <textarea
            class="form-control"
            [formControl]="bioFctForm.controls.justification"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchBioFct() : onPostBioFct()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>

<!-- Modal Intérêt patrimonial -->
<ng-template #interetPatModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="interetPatForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Intérêt patrimonal</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="interetPatForm.controls.function"
          >
            <optgroup *ngFor="let group of interetPatInput" label="{{ group[0].category }}">
              <option *ngFor="let item of group" [ngValue]="item" [disabled]="item.disabled">
                {{ item.mnemonique }}
              </option>
            </optgroup>
          </select>
          <small
            *ngIf="
              (interetPatForm.controls.function.touched || modalFormSubmitted) &&
              interetPatForm.controls.function.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Qualifications</small>
          <select class="form-control" [formControl]="interetPatForm.controls.qualification">
            <option *ngFor="let qualif of formMetaData.FONCTIONS_QUALIF" [ngValue]="qualif">
              {{ qualif.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (interetPatForm.controls.qualification.touched || modalFormSubmitted) &&
              interetPatForm.controls.qualification.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Connaissance</small>
          <select class="form-control" [formControl]="interetPatForm.controls.knowledge">
            <option
              *ngFor="let knowledge of formMetaData.FONCTIONS_CONNAISSANCE"
              [ngValue]="knowledge"
            >
              {{ knowledge.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (interetPatForm.controls.knowledge.touched || modalFormSubmitted) &&
              interetPatForm.controls.knowledge.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Justifications</small>
          <textarea
            class="form-control"
            [formControl]="interetPatForm.controls.justification"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchInteretPat() : onPostInteretPat()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>

<!-- Modal Valeurs socio-économiques-->
<ng-template #valSocEcoModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="valSocEcoForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Valeur</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="valSocEcoForm.controls.function"
          >
            <option *ngFor="let item of valSocEcoInput" [ngValue]="item" [disabled]="item.disabled">
              {{ item.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (valSocEcoForm.controls.function.touched || modalFormSubmitted) &&
              valSocEcoForm.controls.function.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Qualifications</small>
          <select class="form-control" [formControl]="valSocEcoForm.controls.qualification">
            <option *ngFor="let qualif of formMetaData.FONCTIONS_QUALIF" [ngValue]="qualif">
              {{ qualif.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (valSocEcoForm.controls.qualification.touched || modalFormSubmitted) &&
              valSocEcoForm.controls.qualification.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Connaissance</small>
          <select class="form-control" [formControl]="valSocEcoForm.controls.knowledge">
            <option
              *ngFor="let knowledge of formMetaData.FONCTIONS_CONNAISSANCE"
              [ngValue]="knowledge"
            >
              {{ knowledge.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (valSocEcoForm.controls.knowledge.touched || modalFormSubmitted) &&
              valSocEcoForm.controls.knowledge.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Justifications</small>
          <textarea
            class="form-control"
            [formControl]="valSocEcoForm.controls.justification"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchValSocEco() : onPostValSocEco()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>

<!-- Modal corine biotope-->
<ng-template #corineBioModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="corineBioForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small>Corine biotopes</small>
          <input
            id="typeahead-basic"
            type="text"
            class="form-control"
            [formControl]="corineBioForm.controls.corinBio"
            placeholder="Tapez les premières lettres..."
            [resultFormatter]="formatter"
            [inputFormatter]="formatter"
            (selectItem)="onSelectedCorin($event.item)"
            [ngbTypeahead]="search"
          />
          <small
            *ngIf="
              (corineBioForm.controls.corinBio.touched || modalFormSubmitted) &&
              corineBioForm.controls.corinBio.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Cahier habitats</small>
          <select class="form-control" [formControl]="corineBioForm.controls.cahierHab">
            <option value=""></option>
            <option
              *ngFor="let habitat of cahierHabInput"
              [ngValue]="habitat"
              [attr.disabled]="habitat?.disabled ? '' : null"
            >
              {{ habitat.lb_code }} - {{ habitat.lb_hab_fr }}
            </option>
          </select>
          <small
            *ngIf="
              (corineBioForm.controls.cahierHab.touched || modalFormSubmitted) &&
              corineBioForm.controls.cahierHab.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">État de conservation</small>
          <select class="form-control" [formControl]="corineBioForm.controls.preservationState">
            <option *ngFor="let state of formMetaData.ETAT_CONSERVATION" [ngValue]="state">
              {{ state.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (corineBioForm.controls.preservationState.touched || modalFormSubmitted) &&
              corineBioForm.controls.preservationState.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-12">
          <small>Recouvrement sur la ZH (%)</small>
          <input
            class="form-control"
            [formControl]="corineBioForm.controls.habCover"
            type="number"
            min="0"
            max="100"
          />
          <small
            *ngIf="
              corineBioForm.controls.habCover.value &&
              (corineBioForm.controls.habCover.errors?.min ||
                corineBioForm.controls.habCover.errors?.max)
            "
            class="error-msg"
            >La valeur doit être comprise entre 0 et 100
          </small>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchCorineBio() : onPostCorineBio()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>
