<div class="container-fluid">
  <h2 class="tabsTitle">
    Fonctions écologiques, valeurs socio-économiques, interét patrimonial
  </h2>
  <form>
    <fieldset>
      <legend>
        <h5 class="section-title">Fonctions hydrologiques / biogéochimiques</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddHydroFct($event, hydroFctModal)"
        >
          <mat-icon>add_box</mat-icon>
          fonction hydrologique
        </button>
      </div>
      <div
        *ngIf="fctHydroTable && fctHydroTable.length > 0"
        class="table-responsive"
      >
        <table class="table">
          <thead class="thead-inverse table-header">
            <tr>
              <th *ngFor="let col of hydroFctTableCol">{{ col.label }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of fctHydroTable">
              <td *ngFor="let col of hydroFctTableCol">
                {{ item[col.name]?.mnemonique || item[col.name] }}
              </td>
              <td>
                <div>
                  <button
                    mat-icon-button
                    class="mr-2"
                    placement="top"
                    ngbTooltip="Editer"
                  >
                    <mat-icon
                      class="edit-icon"
                      (click)="onEditHydroFct(hydroFctModal, item)"
                      >edit</mat-icon
                    >
                  </button>
                  <button
                    mat-icon-button
                    placement="top"
                    ngbTooltip="Supprimer"
                    (click)="onDeleteHydroFct(item)"
                  >
                    <mat-icon class="delete-icon">close</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Fonctions biologiques / écologiques</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddBioFct($event, bioFctModal)"
        >
          <mat-icon>add_box</mat-icon>
          fonction biologique
        </button>
      </div>
      <div
        *ngIf="bioFctTable && bioFctTable.length > 0"
        class="table-responsive"
      >
        <table class="table">
          <thead class="thead-inverse table-header">
            <tr>
              <th *ngFor="let col of bioFctTableCol">{{ col.label }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of bioFctTable">
              <td *ngFor="let col of bioFctTableCol">
                {{ item[col.name]?.mnemonique || item[col.name] }}
              </td>
              <td>
                <div>
                  <button
                    mat-icon-button
                    class="mr-2"
                    placement="top"
                    ngbTooltip="Editer"
                  >
                    <mat-icon
                      class="edit-icon"
                      (click)="onEditBioFct(bioFctModal, item)"
                      >edit</mat-icon
                    >
                  </button>
                  <button
                    mat-icon-button
                    placement="top"
                    ngbTooltip="Supprimer"
                    (click)="onDeleteBioFct(item)"
                  >
                    <mat-icon class="delete-icon">close</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Intérêts patrimoniaux</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddInteretPat($event, interetPatModal)"
        >
          <mat-icon>add_box</mat-icon>
          Intérêt patrimonial
        </button>
        <div
          *ngIf="interetPatTable && interetPatTable.length > 0"
          class="table-responsive"
        >
          <table class="table">
            <thead class="thead-inverse table-header">
              <tr>
                <th *ngFor="let col of fctTableCol">{{ col.label }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of interetPatTable">
                <td *ngFor="let col of fctTableCol">
                  {{ item[col.name]?.mnemonique || item[col.name] }}
                </td>
                <td>
                  <div>
                    <button
                      mat-icon-button
                      class="mr-2"
                      placement="top"
                      ngbTooltip="Editer"
                    >
                      <mat-icon
                        class="edit-icon"
                        (click)="onEditInteretPat(interetPatModal, item)"
                        >edit</mat-icon
                      >
                    </button>
                    <button
                      mat-icon-button
                      placement="top"
                      ngbTooltip="Supprimer"
                      (click)="onDeleteInteretPat(item)"
                    >
                      <mat-icon class="delete-icon">close</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Habitats naturels humides patrimoniaux</h5>
      </legend>
      <div class="form-row">
        <div class="form-group col-md-4">
          <small style="display: block; margin-bottom: 8px"
            >Cartographie d'habitats</small
          >
          <mat-label ngClass="labelBeforeSlide">Non</mat-label>
          <mat-slide-toggle [formControl]="formTab5.controls.is_carto_hab"
            >oui</mat-slide-toggle
          >
        </div>
        <div class="form-group col-md-4">
          <small>Nombre d'habitats</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.nb_hab"
            type="number"
            min="0"
            max="100"
          />
        </div>
        <div class="form-group col-md-4">
          <small>Recouverement total de la ZH (%)</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.total_hab_cover"
            type="number"
            min="0"
            max="100"
          />
        </div>
      </div>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddCorineBio($event, corineBioModal)"
        >
          <mat-icon>add_box</mat-icon>
          Corine Biotope
        </button>
        <div
          *ngIf="corineBioTable && corineBioTable.length > 0"
          class="table-responsive"
        >
          <table class="table">
            <thead class="thead-inverse table-header">
              <tr>
                <th *ngFor="let col of corineTableCol">{{ col.label }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of corineBioTable">
                <td *ngFor="let col of corineTableCol">
                  {{
                    item[col.name]?.mnemonique ||
                      item[col.name]?.CB_label ||
                      item[col.name]?.lb_hab_fr ||
                      item[col.name]
                  }}
                </td>
                <td>
                  <div>
                    <button
                      mat-icon-button
                      class="mr-2"
                      placement="top"
                      ngbTooltip="Editer"
                    >
                      <mat-icon
                        class="edit-icon"
                        (click)="onEditCorineBio(corineBioModal, item)"
                        >edit</mat-icon
                      >
                    </button>
                    <button
                      mat-icon-button
                      placement="top"
                      ngbTooltip="Supprimer"
                      (click)="onDeleteCorineBio(item)"
                    >
                      <mat-icon class="delete-icon">close</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h5 class="section-title">Faune et flore patrimoniale</h5>
      </legend>
      <div class="form-row">
        <div class="form-group col-md-4">
          <small>Flore - nombre d'espèces</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.nb_flora_sp"
            type="number"
          />
        </div>
        <div class="form-group col-md-4">
          <small>Faune vertébrée - nombre d'espèces</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.nb_vertebrate_sp"
            type="number"
          />
        </div>
        <div class="form-group col-md-4">
          <small>Faune invertébrée - nombre d'espèces</small>
          <input
            class="form-control"
            [formControl]="formTab5.controls.nb_invertebrate_sp"
            type="number"
          />
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <h5 class="section-title">Valeurs socio-économiques</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddValSocEco($event, valSocEcoModal)"
        >
          <mat-icon>add_box</mat-icon>
          Valeur socio-économique
        </button>
        <div
          *ngIf="valSocEcoTable && valSocEcoTable.length > 0"
          class="table-responsive"
        >
          <table class="table">
            <thead class="thead-inverse table-header">
              <tr>
                <th *ngFor="let col of fctTableCol">{{ col.label }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of valSocEcoTable">
                <td *ngFor="let col of fctTableCol">
                  {{ item[col.name]?.mnemonique || item[col.name] }}
                </td>
                <td>
                  <div>
                    <button
                      mat-icon-button
                      class="mr-2"
                      placement="top"
                      ngbTooltip="Editer"
                    >
                      <mat-icon
                        class="edit-icon"
                        (click)="onEditValSocEco(valSocEcoModal, item)"
                        >edit</mat-icon
                      >
                    </button>
                    <button
                      mat-icon-button
                      placement="top"
                      ngbTooltip="Supprimer"
                      (click)="onDeleteValSocEco(item)"
                    >
                      <mat-icon class="delete-icon">close</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <div class="footer-btn">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ml-3"
        [disabled]="posted"
        (click)="onFormSubmit()"
      >
        <mat-icon *ngIf="!posted">save_outline</mat-icon>
        <mat-spinner *ngIf="posted" [diameter]="20"></mat-spinner>
        Enregister
      </button>
    </div>
  </form>
</div>
<!-- Modal fonctions hydrologiques -->
<ng-template #hydroFctModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="hydroFctForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Fonctions hydrologiques</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="hydroFctForm.controls.function"
          >
            <optgroup
              *ngFor="let group of fctHydroInput"
              label="{{ group[0].category }}"
            >
              <option
                *ngFor="let item of group"
                [ngValue]="item"
                [disabled]="item.disabled"
              >
                {{ item.mnemonique }}
              </option>
            </optgroup>
          </select>
          <small
            *ngIf="
              (hydroFctForm.controls.function.touched || modalFormSubmitted) &&
              hydroFctForm.controls.function.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Qualifications</small>
          <select
            class="form-control"
            [formControl]="hydroFctForm.controls.qualification"
          >
            <option
              *ngFor="let qualif of formMetaData.FONCTIONS_QUALIF"
              [ngValue]="qualif"
            >
              {{ qualif.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (hydroFctForm.controls.qualification.touched ||
                modalFormSubmitted) &&
              hydroFctForm.controls.qualification.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Connaissance</small>
          <select
            class="form-control"
            [formControl]="hydroFctForm.controls.knowledge"
          >
            <option
              *ngFor="let knowledge of formMetaData.FONCTIONS_CONNAISSANCE"
              [ngValue]="knowledge"
            >
              {{ knowledge.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (hydroFctForm.controls.knowledge.touched || modalFormSubmitted) &&
              hydroFctForm.controls.knowledge.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Justifications</small>
          <textarea
            class="form-control"
            [formControl]="hydroFctForm.controls.justification"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchHydroFct() : onPostHydroFct()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>

<!-- Modal fonctions biologiques -->
<ng-template #bioFctModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="bioFctForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Fonctions biologiques</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="bioFctForm.controls.function"
          >
            <optgroup
              *ngFor="let group of bioFctInput"
              label="{{ group[0].category }}"
            >
              <option
                *ngFor="let item of group"
                [ngValue]="item"
                [disabled]="item.disabled"
              >
                {{ item.mnemonique }}
              </option>
            </optgroup>
          </select>
          <small
            *ngIf="
              (bioFctForm.controls.function.touched || modalFormSubmitted) &&
              bioFctForm.controls.function.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Qualifications</small>
          <select
            class="form-control"
            [formControl]="bioFctForm.controls.qualification"
          >
            <option
              *ngFor="let qualif of formMetaData.FONCTIONS_QUALIF"
              [ngValue]="qualif"
            >
              {{ qualif.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (bioFctForm.controls.qualification.touched ||
                modalFormSubmitted) &&
              bioFctForm.controls.qualification.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Connaissance</small>
          <select
            class="form-control"
            [formControl]="bioFctForm.controls.knowledge"
          >
            <option
              *ngFor="let knowledge of formMetaData.FONCTIONS_CONNAISSANCE"
              [ngValue]="knowledge"
            >
              {{ knowledge.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (bioFctForm.controls.knowledge.touched || modalFormSubmitted) &&
              bioFctForm.controls.knowledge.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Justifications</small>
          <textarea
            class="form-control"
            [formControl]="bioFctForm.controls.justification"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchBioFct() : onPostBioFct()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>

<!-- Modal Intérêt patrimonial -->
<ng-template #interetPatModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="interetPatForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Intérêt patrimonal</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="interetPatForm.controls.function"
          >
            <optgroup
              *ngFor="let group of interetPatInput"
              label="{{ group[0].category }}"
            >
              <option
                *ngFor="let item of group"
                [ngValue]="item"
                [disabled]="item.disabled"
              >
                {{ item.mnemonique }}
              </option>
            </optgroup>
          </select>
          <small
            *ngIf="
              (interetPatForm.controls.function.touched ||
                modalFormSubmitted) &&
              interetPatForm.controls.function.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Qualifications</small>
          <select
            class="form-control"
            [formControl]="interetPatForm.controls.qualification"
          >
            <option
              *ngFor="let qualif of formMetaData.FONCTIONS_QUALIF"
              [ngValue]="qualif"
            >
              {{ qualif.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (interetPatForm.controls.qualification.touched ||
                modalFormSubmitted) &&
              interetPatForm.controls.qualification.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Connaissance</small>
          <select
            class="form-control"
            [formControl]="interetPatForm.controls.knowledge"
          >
            <option
              *ngFor="let knowledge of formMetaData.FONCTIONS_CONNAISSANCE"
              [ngValue]="knowledge"
            >
              {{ knowledge.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (interetPatForm.controls.knowledge.touched ||
                modalFormSubmitted) &&
              interetPatForm.controls.knowledge.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Justifications</small>
          <textarea
            class="form-control"
            [formControl]="interetPatForm.controls.justification"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchInteretPat() : onPostInteretPat()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>

<!-- Modal Valeurs socio-économiques-->
<ng-template #valSocEcoModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="valSocEcoForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small class="required">Valeur socio-économique</small>
          <select
            class="form-control custom-select"
            ngbAutofocus
            [formControl]="valSocEcoForm.controls.function"
          >
            <option
              *ngFor="let item of valSocEcoInput"
              [ngValue]="item"
              [disabled]="item.disabled"
            >
              {{ item.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (valSocEcoForm.controls.function.touched || modalFormSubmitted) &&
              valSocEcoForm.controls.function.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Qualifications</small>
          <select
            class="form-control"
            [formControl]="valSocEcoForm.controls.qualification"
          >
            <option
              *ngFor="let qualif of formMetaData.FONCTIONS_QUALIF"
              [ngValue]="qualif"
            >
              {{ qualif.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (valSocEcoForm.controls.qualification.touched ||
                modalFormSubmitted) &&
              valSocEcoForm.controls.qualification.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Connaissance</small>
          <select
            class="form-control"
            [formControl]="valSocEcoForm.controls.knowledge"
          >
            <option
              *ngFor="let knowledge of formMetaData.FONCTIONS_CONNAISSANCE"
              [ngValue]="knowledge"
            >
              {{ knowledge.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (valSocEcoForm.controls.knowledge.touched ||
                modalFormSubmitted) &&
              valSocEcoForm.controls.knowledge.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Justifications</small>
          <textarea
            class="form-control"
            [formControl]="valSocEcoForm.controls.justification"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchValSocEco() : onPostValSocEco()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>

<!-- Modal corine biotope-->
<ng-template #corineBioModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="corineBioForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small>Corine Biotope</small>
          <input
            id="typeahead-basic"
            type="text"
            class="form-control"
            [formControl]="corineBioForm.controls.corinBio"
            placeholder="Tapez les premières lettres..."
            [resultFormatter]="formatter"
            [inputFormatter]="formatter"
            (selectItem)="onSelectedCorin($event.item)"
            [ngbTypeahead]="search"
          />
          <small
            *ngIf="
              (corineBioForm.controls.corinBio.touched || modalFormSubmitted) &&
              corineBioForm.controls.corinBio.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Cahier Habitats</small>
          <select
            class="form-control"
            [formControl]="corineBioForm.controls.cahierHab"
          >
            <option></option>
            <option *ngFor="let habitat of cahierHabInput" [ngValue]="habitat">
              {{ habitat.lb_hab_fr }}
            </option>
          </select>
          <small
            *ngIf="
              (corineBioForm.controls.cahierHab.touched ||
                modalFormSubmitted) &&
              corineBioForm.controls.cahierHab.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">État de conservation</small>
          <select
            class="form-control"
            [formControl]="corineBioForm.controls.preservationState"
          >
            <option
              *ngFor="let state of formMetaData.ETAT_CONSERVATION"
              [ngValue]="state"
            >
              {{ state.mnemonique }}
            </option>
          </select>
          <small
            *ngIf="
              (corineBioForm.controls.preservationState.touched ||
                modalFormSubmitted) &&
              corineBioForm.controls.preservationState.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-12">
          <small>Recouvrement total de la ZH (%)</small>
          <input
            class="form-control"
            [formControl]="corineBioForm.controls.habCover"
            type="number"
            min="0"
            max="100"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? onPatchCorineBio() : onPostCorineBio()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>
