<div class="container-fluid">
  <h2 class="tabsTitle">Hiérarchisation</h2>

  <div *ngIf="!hierarchy.isLoading">
    <h4 class="tabsSubtitle">Bassin versant : {{ hierarchy.rb_name }}</h4>
    <div
      *ngIf="hierarchy.warning"
      class="alert alert-warning mat-alert"
    >
      {{ hierarchy.warning }}
    </div>
    <zh-table
      *ngIf="hierarchy.items?.length"
      [tableCols]="hierarchy.hierTableCols"
      [data]="hierarchy.items"
      [bold_row_values]="hierarchy.bold_row_values"
      [italic_row_values]="hierarchy.italic_row_values"
      [color_col_name]="hierarchy.color_col_name"
      [color_value]="hierarchy.color_value"
    ></zh-table>
  </div>

  <div *ngIf="hierarchy.isLoading">
    <div>Chargement de la hiérarchisation, veuillez patienter</div>
    <mat-spinner
      color="warn"
      diameter="25"
    ></mat-spinner>
  </div>
  <div class="footer-btn">
    <zh-cancelButton
      *ngIf="currentZh"
      [zhId]="currentZh.properties.id_zh"
    ></zh-cancelButton>
  </div>
</div>
