<div class="container-fluid">
  <h2 class="tabsTitle">Hiérarchisation</h2>

    <h4 class="tabsSubtitle">Bassin versant principal 
      <i class="fa fa-info-circle"></i> 
      <span class="tip-txt">
        Une zone humide peut intersecter plusieurs bassins versants. Le bassin versant principal est celui qui couvre le plus de surface sur la zone humide. Le calcul de la hiérarchisation d'une zone humide se base UNIQUEMENT sur les règles du bassin versant principal. Pour avoir une liste complète de tous les bassins versants intersectés par une zone humide, voir l'onglet 3 de la fiche complète.
      </span> : {{ main_rb_name }}
    </h4>

    <div
      *ngIf="hierarchy.warning"
      class="alert alert-warning mat-alert"
    >
      {{ hierarchy.warning }}
    </div>

  <div *ngIf="!hierarchy.isLoading && main_rb_name != 'aucun'">
    <zh-table
      *ngIf="hierarchy.items?.length"
      [tableCols]="hierarchy.hierTableCols"
      [data]="hierarchy.items"
      [bold_row_values]="hierarchy.bold_row_values"
      [italic_row_values]="hierarchy.italic_row_values"
      [color_col_name]="hierarchy.color_col_name"
      [color_value]="hierarchy.color_value"
    ></zh-table>
  </div>

  <div *ngIf="hierarchy.isLoading">
    <div>Chargement de la hiérarchisation, veuillez patienter</div>
    <mat-spinner
      color="warn"
      diameter="25"
    ></mat-spinner>
  </div>
  <div class="footer-btn">
    <zh-cancelButton
      *ngIf="currentZh"
      [zhId]="currentZh.properties.id_zh"
    ></zh-cancelButton>
  </div>
</div>
