@import '../../../../app.module';
select.custom-select option:disabled {
  color: #d9d9d9;
}
.backToLigne {
  white-space: pre;
}
.morePlan {
  cursor: pointer;
  user-select: none;
  vertical-align: sub;
  font-size: 26px;
  padding-right: 8px;
}
.tr-plans {
  background-color: #eeeeee !important;
  padding: 10px 20px;
}
.tr-plans {
  padding: 10px 30px;
  p {
    margin-bottom: 4px;
    margin-left: 2px;
  }
}
.tip-txt {
  width: 300px;
  position: absolute;
  visibility: hidden;
  background: #757171;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: justify;
}
.fa {
  font-size: 14px;
}
.fa-info-circle:hover + .tip-txt {
  visibility: visible;
  color: rgb(255, 255, 255);
  opacity: 1;
}
