<div class="mt-3">
  <div
    class="row"
    *ngIf="_filesService?.files.length > 0; else nofile"
  >
    <div
      class="col-12"
      *ngIf="_filesService.filterByExtension(_filesService.EXT_IMAGES).length > 0"
    >
      <zh-label label="Images de la zone humide :"></zh-label>
      <zh-image-table
        [tableCols]="fileTableCol"
        [data]="_filesService.filterByExtension(_filesService.EXT_IMAGES)"
        [downloadable]="true"
        (onDownload)="_filesService.downloadFile($event)"
      ></zh-image-table>
    </div>
    <ng-container *ngFor="let item of corFilesExt">
      <div
        class="col-12"
        *ngIf="item?.files.length > 0"
      >
        <zh-label [label]="item.name + ' ' + 'de la zone humide :'"></zh-label>
        <zh-table
          [tableCols]="fileTableCol"
          [data]="item.files"
          [downloadable]="true"
          (onDownload)="_filesService.downloadFile($event)"
        ></zh-table>
      </div>
    </ng-container>
  </div>
  <ng-template #nofile>
    <span>Aucune ressource documentaire n'a été trouvée sur cette zone humide</span>
  </ng-template>
</div>
