<div class="container-fluid">
  <form>
    <fieldset>
      <legend>
        <h5 class="section-title">Ressources</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddDoc($event, docModal)"
        >
          <mat-icon>add_box</mat-icon>
          Ajouter
        </button>
      </div>
        <!-- <zh-table
        [tableCols]="fileTableCol"
        [data]="data"
        [deletable]="true"
        [editable]="true"
        (onDelete)="onDeleteFile($event)"
        (onEdit)="onEditFile($event)"
      ></zh-table> -->
      <ng-container *ngFor="let item of corFilesExt">
        <collapse [title]="item.name" *ngIf="item.files && item.files.length > 0">
          <div class="table-responsive mt-2">
            <table class="table">
              <thead class="thead-inverse table-header">
                <tr>
                  <th *ngFor="let col of docTableCol">{{ col.label }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of item.files">
                  <td *ngFor="let col of docTableCol">
                    {{ item[col.name]?.mnemonique || item[col.name] }}
                  </td>
                  <td>
                    <div>
                      <button
                        mat-icon-button
                        class="mr-2"
                        placement="top"
                        ngbTooltip="Editer"
                        (click)="onEditStatus(docModal, item)"
                      >
                        <mat-icon class="edit-icon">edit</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        placement="top"
                        ngbTooltip="Supprimer"
                        (click)="onDeleteStatus(item)"
                      >
                        <mat-icon class="delete-icon">close</mat-icon>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </collapse>
      </ng-container>
    </fieldset>

    <div class="footer-btn">
      <zh-cancelButton
        *ngIf="zh"
        [zhId]="zh.properties.id_zh"
      ></zh-cancelButton>
    </div>
  </form>
</div>

<!-- Modal recources documentaires -->
<ng-template #docModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="docForm">
      <div class="form-row">
        <div class="form-group col-md-12">
          <input
            #fileInput
            hidden="true"
            id="file"
            type="file"
            (change)="handleFileInput($event.target.files)"
            accept="image/*,.pdf"
          />
          <button mat-raised-button color="primary" (click)="fileInput.click()">Parcourir</button>
          <small class="file-name" *ngIf="fileToUpload !== null">Fichier renseigné : {{ fileToUpload.name }}</small>
          </div>
        <div class="form-group col-md-12">
          <small
              *ngIf="
                docForm.controls.file.errors?.fileSizeValidator
              "
              class="error-msg"
              >Le fichier excède le poids maximum autorisé (500ko pour les photos, 1500ko pour les pdf)<br></small>
          <small
            *ngIf="
              docForm.controls.file.errors?.fileNameValidator
            "
            class="error-msg"
            >Le fichier ne respecte pas le format suivant : &lt;ZHCODE&gt;_&lt;nombre&gt;. Exemple : {{ zh.properties.code }}_3<br></small>
          <small
          *ngIf="
            docForm.controls.file.errors?.fileFormatValidator
          "
          class="error-msg"
          >Le fichier n'est pas du bon format (image ou pdf)<br></small>
        </div>

        <div class="form-group col-md-6">
          <small class="required">Titre du document</small>
          <input class="form-control" [formControl]="docForm.controls.title" />
          <small
            *ngIf="
              (docForm.controls.title.touched || modalFormSubmitted) &&
              docForm.controls.title.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Auteur du document</small>
          <input class="form-control" [formControl]="docForm.controls.author" />
          <small
            *ngIf="
              (docForm.controls.author.touched || modalFormSubmitted) &&
              docForm.controls.author.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Résumé</small>
          <textarea
            class="form-control"
            [formControl]="docForm.controls.summary"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="postFile()"
    >
    <mat-spinner *ngIf="loadingUpload" color="warn" diameter="25"></mat-spinner>
    Téléverser
    </button>
  </div>
</ng-template>
