<div class="container-fluid">
  <form>
    <fieldset>
      <legend>
        <h5 class="section-title">Ressources</h5>
      </legend>
      <div class="form-row">
        <button
          mat-raised-button
          class="mb-3"
          color="primary"
          (click)="onAddFile($event, fileModal)"
        >
          <mat-icon>add_box</mat-icon>
          Ajouter
        </button>
      </div>
      <collapse [title]="imageFiles.name" *ngIf="imageFiles.files && imageFiles.files.length > 0">
        <zh-image-table
          [tableCols]="fileTableCol" 
          [data]="imageFiles.files"
          deletable="true"
          editable="true"
          downloadable="true"
          (onDelete)="onDeleteFile($event)"
          (onEdit)="onEditFile($event, fileModal)"
          (onDownload)="onDownloadFile($event)">
        </zh-image-table>
      </collapse>
      <ng-container *ngFor="let item of corFilesExt">
        <collapse [title]="item.name" *ngIf="item.files && item.files.length > 0">
          <zh-table
            [tableCols]="fileTableCol" 
            [data]="item.files"
            deletable="true"
            editable="true"
            downloadable="true"
            (onDelete)="onDeleteFile($event)"
            (onEdit)="onEditFile($event, fileModal)"
            (onDownload)="onDownloadFile($event)"
          ></zh-table>
        </collapse>
      </ng-container>
    </fieldset>

    <div class="footer-btn">
      <zh-cancelButton
        *ngIf="zh"
        [zhId]="zh.properties.id_zh"
      ></zh-cancelButton>
    </div>
  </form>
</div>

<!-- Modal recources documentaires -->
<ng-template #fileModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button mat-icon-button class="closeModalBtn" (click)="c()">
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="fileForm">
      <div class="form-row">
        <div class="form-group col-md-12">
          <input
            #fileInput
            hidden="true"
            id="file"
            type="file"
            (change)="handleFileInput($event.target.files)"
            accept="image/*,.pdf"
          />
          <button mat-raised-button color="primary" (click)="fileInput.click()">Parcourir</button>
          <small class="file-name" *ngIf="fileToUpload !== null">Fichier renseigné : {{ fileToUpload.name }}</small>
          </div>
        <div class="form-group col-md-12">
          <small
              *ngIf="
                fileForm.controls.file.errors?.fileSizeValidator
              "
              class="error-msg"
              >Le fichier excède le poids maximum autorisé (500ko pour les photos, 1500ko pour les pdf)<br></small>
          <small
            *ngIf="
              fileForm.controls.file.errors?.fileNameValidator
            "
            class="error-msg"
            >Le fichier ne respecte pas le format suivant : &lt;ZHCODE&gt;_&lt;nombre&gt;. Exemple : {{ zh.properties.code }}_3<br></small>
          <small
          *ngIf="
            fileForm.controls.file.errors?.fileFormatValidator
          "
          class="error-msg"
          >Le fichier n'est pas du bon format (image ou pdf)<br></small>
        </div>

        <div class="form-group col-md-6">
          <small class="required">Titre du document</small>
          <input class="form-control" [formControl]="fileForm.controls.title" />
          <small
            *ngIf="
              (fileForm.controls.title.touched || modalFormSubmitted) &&
              fileForm.controls.title.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>
        <div class="form-group col-md-6">
          <small class="required">Auteur du document</small>
          <input class="form-control" [formControl]="fileForm.controls.author" />
          <small
            *ngIf="
              (fileForm.controls.author.touched || modalFormSubmitted) &&
              fileForm.controls.author.errors?.required
            "
            class="error-msg"
            >Champ requis</small
          >
        </div>

        <div class="form-group col-md-12">
          <small>Résumé</small>
          <textarea
            class="form-control"
            [formControl]="fileForm.controls.summary"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchModal ? patchFile() : postFile()"
    >
    <mat-spinner *ngIf="loadingUpload" color="warn" diameter="25"></mat-spinner>
    Téléverser
    </button>
  </div>
</ng-template>
