<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Export rapport d'import</title>
    <link rel="stylesheet" href="{{ url_for('pr_zh.static', filename='fiche_template_pdf.css') }}">
  </head>

  <body>
    <header>{{ data['config']['pdf_title'] }}</header>
    <footer>{{ data['date_now'] }}</footer>
    <h1 class="main-title">Fiche de synthèse de la zone humide</h1>
    <h1 class="title">Renseignements généraux</h1>
    {% include 'renseignements.html' %}
    <div class="new-page">
      <h1 class="title">Délimitation de la zone humide et de son espace de fonctionnalité</h1>
      {% include 'delimitation.html' %}
    <h1 class="title">Principaux types de milieux humides (H) ou potentiellement humides (P)</h1>
    {% include 'milieux.html' %}
    </div>
    <h1 class="title">Fonctionnement de la zone humide</h1>
    {% include 'fonctionnement.html' %}
    <h1 class="title">Usages ou processus naturels</h1>
    {% include 'usages.html' %}
    <h1 class="title">Statuts et gestion de la zone humide</h1>
    {% include 'statuts.html' %}
    <div class="new-page">
      <h1 class="title">Évaluation générale du site</h1>
      {% include 'evaluation.html' %}
    </div>
    <br>
    {% if data['config']['pdf_last_page_img'] %}
    <div>
      <img class="banner" src="{{ url_for('pr_zh.static', filename=data['config']['pdf_last_page_img']) }}">
    </div>
    {% endif %}
</body>
</html>
