<div class="flex-container">
  {% if data['image_name'] is not none %}
  <div class="left">
  {% else %}
  <div>
  {% endif %}
    <section class="content">
      <h5 class="subtitle">Corine Biotope</h5>
      <table class="custom-table">
        <thead>
            <tr>
                <th>Code Corine Biotope</th>
                <th>Libellé Corine Biotope</th>
                <th>Humidité</th>
            </tr>
        </thead>
        <tbody>
            {% for corine in data['description']['presentation']['corine_biotope'] %}
            <tr>
              <td>{{ corine['code'] }}</td>
              <td>{{ corine['label'] }}</td>
              <td>{{ corine['Humidité'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
  {% if data['image_name'] is not none %}
      <div class="right">
        <section class="content"></section>
          <img class="image" src="{{ url_for('pr_zh.media_attachment', filename=data['image_name']) }}">
        </section>
      </div>
  {% endif %}
  <!--
  {% if data['image'] %}
    <div class="right">
      <section class="content">
        <img class="image" src="{{ data['image'] }}">
    </div>
  {% endif %}
  -->
</div>