<div>
  <div class="row my-3">
    <div class="col-12 col-xl-6 col-lg-6 col-md-6">
      <fieldset class="twoFields">
        <legend>
          <h5 class="section-title">Identification de la zone Humide</h5>
        </legend>
        <zh-label label="Nom usuel de la zone humide :"
          ><span>{{ data.identification?.nom }}</span>
        </zh-label>
        <zh-label label="Autre nom :">
          <span>{{ data.identification?.autre }}</span>
        </zh-label>
        <zh-label label="Partie d’un ensemble :"
          ><span>{{ data.identification?.inclus }}</span>
        </zh-label>
        <zh-label
          *ngIf="data.identification?.inclus != 'Non'"
          label="Nom du grand ensemble :"
          ><span>{{ data.identification?.ensemble }}</span>
        </zh-label>
        <zh-label label="Code de la zone humide :"
          ><span>{{ data.identification?.code }}</span>
        </zh-label>
      </fieldset>
      <fieldset class="twoFields">
        <legend>
          <h5 class="section-title">Auteurs</h5>
        </legend>
        <zh-label label="Organisme :">
          <span> TODO </span>
        </zh-label>
        <zh-label label="Auteur de la fiche :">
          <span>{{ data.auteur?.auteur }}</span></zh-label
        >
        <zh-label label="Auteur des dernières modifications :">
          <span>{{ data.auteur?.auteur_modif }}</span>
        </zh-label>
        <zh-label label="Date d’établissement :">
          <span>{{ data.auteur?.date }}</span>
        </zh-label>
        <zh-label label="Date des dernières modifications :">
          <span>{{ data.auteur?.date_modif }}</span>
        </zh-label>
      </fieldset>
    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-md-6">
      <fieldset>
        <legend>
          <h5 class="section-title">Localisation de la zone humide</h5>
        </legend>
        <zh-label label="Region :">
          <ul>
            <li
              class="label-item"
              *ngFor="let reg of data.localisation?.region"
            >
              <span>{{ reg }}</span>
            </li>
          </ul>
        </zh-label>

        <zh-label label="Département :">
          <ul>
            <li
              class="label-item"
              *ngFor="let dep of data.localisation?.departement"
            >
              <span>{{ dep.nom }} ({{ dep.code }})</span>
            </li>
          </ul>
        </zh-label>
        <zh-label label="Commune (surface ZH/surface commune [%]) :">
          <ul>
            <li
              class="label-item"
              *ngFor="let commune of data.localisation?.commune"
              [ngbTooltip]="'Insee : ' + commune.insee"
            >
              <span
                >{{ commune.nom }} ({{
                  commune.couverture || "non renseigné"
                }})</span
              >
            </li>
          </ul>
        </zh-label>
        <zh-label label="Référentiels géographiques :">
          <ul>
            <li class="label-item" *ngFor="let ref of data.localisation?.other_ref">
              <a href="{{ ref.url }}" target="_blank"  [ngbTooltip]="ref.zh_type_name + ' (' + ref.area_code + ')'">{{ ref.area_name }}</a>
            </li>
          </ul>
        </zh-label>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">Principales références bibliographiques</h5>
        </legend>
        <zh-table
          [tableCols]="biblioTableCols"
          [data]="data.references"
        ></zh-table>
      </fieldset>
    </div>
  </div>
</div>
