<ng-container *ngIf="fields?.length > 0; else noFields">
  <div class="row mb-2">
    <div class="col-12">
      <span class="mr-1">OU</span>
      <mat-slide-toggle
        [formControl]="form.controls.and"
        matTooltip="Si OU est choisi, les zones humides recherchées respecteront au moins 1 critère listé ci-dessous.
        Si ET est choisi: elles respecteront tous les critères"
      ></mat-slide-toggle>
      <span class="ml-1">ET</span>
    </div>
  </div>
  <div class="row">
    <div class="pr-0 col-lg-4 col-6">
      <h5>Rubrique</h5>
      <select
        class="form-control form-control-sm"
        [formControl]="localForm?.controls.field"
        (change)="fieldChanged($event.target.value)"
      >
        <option
          [ngValue]="null"
          selected
        >
          Sélectionner
        </option>
        <ng-container *ngFor="let field of fields; let index = index">
          <option
            class="option-title"
            [value]="field.name"
          >
            {{ field.name | uppercase }}
          </option>
          <ng-container *ngFor="let cat of field.subcategory; let subIndex = index">
            <!-- &nbsp; because css does not work -->
            <option
              *ngIf="cat?.name"
              [value]="cat.name"
            >
              <span>&nbsp;{{ cat.name | capitalize }}</span>
            </option>
            <ng-container *ngFor="let cat2 of cat.subcategory; let subsubIndex = index">
              <!-- &nbsp; because css does not work -->
              <option
                class="option-subsubtitle"
                *ngIf="cat2?.name"
                [value]="cat2.name"
              >
                <span>&nbsp;&nbsp;&nbsp;{{ cat2.name | capitalize }}</span>
              </option>
            </ng-container>
          </ng-container>
        </ng-container>
      </select>
    </div>
    <div class="pr-0 col-lg-3 col-6">
      <h5>Attribut</h5>
      <zh-multiselect
        [values]="attributes"
        [parentFormControl]="localForm.controls.attributes"
        keyLabel="attribut"
        (onChange)="attributesChanged($event)"
      />
    </div>
    <div class="pr-0 col-lg-3 col-6">
      <h5>Connaissance</h5>
      <zh-multiselect
        [values]="knowledges"
        [parentFormControl]="localForm.controls.knowledges"
        keyLabel="note_type"
        (onChange)="attributesChanged($event)"
        [multiple]="false"
      />
    </div>
    <div class="pr-0 col-lg-2 col-6">
      <button
        class="mt-4"
        mat-raised-button
        color="primary"
        (click)="onAddFilter()"
        [disabled]="
          localForm?.controls.field.value == null || localForm?.controls.attributes.value == null
        "
      >
        <mat-icon>add_box</mat-icon>
        Ajouter
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <zh-table
        [tableCols]="columns"
        [data]="data.value"
        [deletable]="true"
        (onDelete)="onDeleteFilter($event)"
      ></zh-table>
    </div>
  </div>
</ng-container>
<ng-template #noFields>
  <span>
    Le bassin versant sélectionné ne contient aucune règle, veuillez en sélectionner un autre
  </span>
</ng-template>
