@import "../../../app.module";

.option-title {
  font-weight: bold;
  text-transform: capitalize;
}
.option-subsubtitle {
  font-style: italic;
}

.form-control-sm {
  height: calc(1.5em + .5rem + 9px);
  border-radius: 0.2rem;
}