.map-list-container {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 2px 2px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

:host /deep/ .trash-btn {
  position: relative;
  top: 28px;
  left: 5px;
  margin-right: 5px;
}

ngx-datatable {
  // max-height: 79vh !important;
  box-shadow: none !important;
  // overflow-y: scroll;
}

:host /deep/ .ngx-datatable.material .datatable-footer .page-count {
  padding: 5px;
  line-height: 1.2;
  height: 40px;
}

:host /deep/ .datatable-body-row.active .datatable-row-group {
  background-color: rgb(117, 227, 118) !important;
}

.ngx-datatable.material {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

:host /deep/ .datatable-row-detail {
  height: auto !important;
  font-size: 0.8em;
}
