<div>
  <div class="row">
    <div class="col-12 col-xl-6 col-lg-6 col-md-6">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Critères de délimitation de la zone humide
          </h5>
        </legend>
        <p class="label"><b>Critères utilisés :</b></p>
        <p class="label"><b>Remarques :</b></p>
      </fieldset>
    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-md-6">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Critères de délimitation de l'espace de fonctionalité
          </h5>
        </legend>
        <p class="label"><b>Critères utilisés :</b></p>
        <p class="label"><b>Remarques :</b></p>
      </fieldset>
    </div>
  </div>
</div>
