<div class="container-fluid">
    <form>
        <fieldset>
            <legend>
                <h5 class="section-title">Presentation de la zone humide et des milieux</h5>
            </legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <small>Superficie de la zone</small>
                    <input
                        class="form-control form-control-sm"
                        type='text'
                        readonly
                    />
                </div>
                <div class="form-group col-md-6">
                    <small class="required">Typologie SDAGE</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                    <option></option>
                    <option>Typologie 1</option>
                    <option>Typologie 2</option>
                </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <small>Typologie locale</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                    <option></option>
                    <option>Typologie 1</option>
                    <option>Typologie 2</option>
                </select>
                </div>
                <div class="form-group col-md-6">
                    <small>Corine Biotope</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                    <option></option>
                    <option>option 1</option>
                    <option>option 2</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <small>Remarque</small>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <h5 class="section-title">Usage ou processus naturels</h5>
            </legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <small>Activités humaines</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                    <option></option>
                    <option>option 1</option>
                    <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <small>Localisation</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                    <option></option>
                    <option>option 1</option>
                    <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <small>Impacts</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                    <option></option>
                    <option>option 1</option>
                    <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <small>Remarque</small>
                    <input
                        class="form-control form-control-sm"
                        type='text'
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <small>Remarques globales</small>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>