<div class="container-fluid">
    <form>
        <fieldset>
            <legend>
                <h5 class="section-title">Fonctions hydrologiques</h5>
            </legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <small>Fonctions hydrologiques</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <small>Qualifications</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <small>Connaissance</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <small>Justifications</small>
                    <input
                        class="form-control form-control-sm"
                        type='text'
                    />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <h5 class="section-title">Fonctions biologiques</h5>
            </legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <small>Fonctions biologiques</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <small>Qualifications</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <small>Connaissance</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <small>Justifications</small>
                    <input
                        class="form-control form-control-sm"
                        type='text'
                    />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <h5 class="section-title">Intérêt patrimonial</h5>
            </legend>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <small>Cartographie d'habitats</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Nombre d'habitats</small>
                    <input
                    class="form-control form-control-sm"
                    type='number'
                />
                </div>
                <div class="form-group col-md-4">
                    <small>Recouverement total de la ZH (%)</small>
                    <input
                        class="form-control form-control-sm"
                        type='number'
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <small>Cahier habitats</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Etat de conversion</small>
                    <select 
                    class="form-control form-control-sm" 
                    >
                        <option></option>
                        <option>option 1</option>
                        <option>option 2</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <small>Recouverement total de la ZH (%)</small>
                    <input
                        class="form-control form-control-sm"
                        type='number'
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <small>Flore - nombre d'espèces</small>
                    <input
                    class="form-control form-control-sm"
                    type='number'
                    />
                </div>
                <div class="form-group col-md-4">
                    <small>Faune vertébrés - nombre d'espèces</small>
                    <input
                    class="form-control form-control-sm"
                    type='number'
                    />
                </div>
                <div class="form-group col-md-4">
                    <small>Faune invertébrés - nombre d'espèces</small>
                    <input
                    class="form-control form-control-sm"
                    type='number'
                    />
                </div>
            </div>
        </fieldset>
    </form>
</div>