<table class="table mb-4">
  <thead class="thead-inverse table-header">
    <tr>
      <!-- size can be provided in the columns object -->
      <th
        *ngFor="let col of tableCols"
        [style.width]="col.size"
      >
        {{ col.label }}
      </th>
      <th *ngIf="editable || deletable || downloadable"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="data && data.length > 0">
      <tr
        [ngStyle]="{
          background: item[color_col_name] == color_value ? '#EBFFE5' : 'rgba(67, 175, 0, 0.04)',
        }"
        *ngFor="let item of data"
      >
        <td *ngFor="let col of tableCols">
          <ng-container *ngIf="col.subcell; else elseBlockSub">
            <ul *ngIf="isArray(item[col.name][col.subcell.key]); else elseBlockSubArr">
              <li
                class="item"
                *ngFor="let item of item[col.name][col.subcell.key]"
              >
                {{ item[col.subcell.name] }}
              </li>
            </ul>
          </ng-container>
          <ng-template #elseBlockSubArr>
            {{ item[col.name][col.subcell.name] }}
          </ng-template>
          <ng-template #elseBlockSub>
            <ul *ngIf="isArray(item[col.name]); else elseBlockSub2">
              <ng-container *ngIf="col.subarr; else elseNotSubname">
                <li
                  class="item"
                  *ngFor="let subitem of item[col.name]"
                >
                  {{ subitem[col.subarr.name] }}
                </li>
              </ng-container>
              <ng-template #elseNotSubname>
                <li
                  class="item"
                  *ngFor="let subitem of item[col.name]"
                >
                  {{ subitem }}
                </li>
              </ng-template>
            </ul>
            <ng-template #elseBlockSub2>
              <b *ngIf="bold_row_values.includes(item['name']); else italic">
                {{ item[col.name] }}
              </b>
              <ng-template #italic>
                <i *ngIf="italic_row_values.includes(item['name']); else normal">
                  {{ item[col.name] }}
                </i>
              </ng-template>
              <ng-template #normal>
                {{ item[col.name] }}
              </ng-template>
            </ng-template>
          </ng-template>
        </td>
        <td
          class="tab-buttons"
          *ngIf="editable || deletable || downloadable"
        >
          <ng-container *ngIf="editable">
            <button
              mat-icon-button
              class="mr-2"
              placement="top"
              ngbTooltip="Editer"
              (click)="onEditItem(item)"
            >
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="deletable">
            <button
              mat-icon-button
              class="mr-2"
              placement="top"
              ngbTooltip="Supprimer"
              (click)="onDeleteItem(content, item)"
            >
              <mat-icon class="delete-icon">close</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="downloadable">
            <button
              mat-icon-button
              class="mr-2"
              placement="top"
              ngbTooltip="Télécharger"
              (click)="onDownloadItem(item)"
            >
              <mat-icon class="download-icon">download</mat-icon>
            </button>
          </ng-container>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="!data || data.length == 0">
      <td colspan="100%"></td>
    </tr>
  </tbody>
</table>
<ng-template
  #content
  let-c="close"
  let-d="dismiss"
>
  <zh-delete-modal
    (onCancel)="d()"
    (onDelete)="c()"
  >
    <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
  </zh-delete-modal>
</ng-template>
