<div>
  <div class="row">
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">Régime hydrique</h5>
        </legend>
        <zh-table
          [tableCols]="entryTableCols"
          [data]="data.regime.entree"
        ></zh-table>
        <zh-table
          [tableCols]="exitTableCols"
          [data]="data.regime.sortie"
        ></zh-table>
        <div class="row">
          <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <zh-label label="Submersion fréquence :">
              <span>{{ data.regime.frequence }}</span>
            </zh-label>
          </div>
          <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <zh-label label="Submersion étendue :">
              <span>{{ data.regime.etendue }}</span>
            </zh-label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-12 col-xl-5 col-lg-5 col-md-5">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Connexion de la zone humide dans son environnement
          </h5>
        </legend>
        <zh-label label="Type de connexion :">
          <p *ngIf="!connectionImg">non renseigné</p>
          <div *ngIf="connectionImg" class="img-container">
            <label class="form-check-label p-3" for="inlineRadio3">
              <p>
                <b>{{ data.connexion }}</b>
              </p>
            </label>
            <img [src]="connectionImg" width="90" alt="" />
          </div>
        </zh-label>
      </fieldset>
    </div>
    <div class="col-12 col-xl-7 col-lg-7 col-md-7">
      <fieldset>
        <legend>
          <h5 class="section-title">Diagnostic fonctionnel</h5>
        </legend>
        <zh-label label="Fonctionnalité hydrologique / biogéochimique :">
          <span>{{ data.diagnostic?.hydrologique }}</span>
        </zh-label>
        <zh-label label="Fonctionnalité biologique / écologique :">
          <span>{{ data.diagnostic?.biologique }}</span>
        </zh-label>
        <zh-label label="Commentaires :">
          <span>{{ data.diagnostic?.commentaires }}</span>
        </zh-label>
      </fieldset>
    </div>
  </div>
</div>
