<div>
  <div class="row">
    <div class="col-12">
      <fieldset>
        <legend>
          <h5 class="section-title">Régime hydrique</h5>
        </legend>
        <zh-table [tableCols]="entryTableCols"></zh-table>
        <zh-table [tableCols]="exitTableCols"></zh-table>
        <div class="row">
          <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <p><b>Submersion fréquence :</b></p>
          </div>
          <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <p><b>Submersion étendue :</b></p>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-md-6">
      <fieldset>
        <legend>
          <h5 class="section-title">
            Cnnexion de la zone humide dans son environnement
          </h5>
        </legend>
        <p><b>Type de connexion</b></p>
      </fieldset>
    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-md-6">
      <fieldset>
        <legend>
          <h5 class="section-title">Diagnostic fonctionnel</h5>
        </legend>
        <p>
          <b>Fonctionnalité hydrologique / biogéochimique :</b>
        </p>
        <p>
          <b>Fonctionnalité biologique / écologique :</b>
        </p>
        <p>
          <b>Commentaires :</b>
        </p>
      </fieldset>
    </div>
  </div>
</div>
