<div class="flex-container">
  <section class="content col">
    <h5 class="subtitle">Critères utilisés</h5>
    <div class="flex-container">
      <div class="left">
        <table class="custom-table">
          <thead>
              <tr>
                  <th>Zone humide</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>The table body</td>
              </tr>
          </tbody>
        </table>
        <fieldset class="label">
          <legend class="label-title">Remarques</legend>
        </fieldset>
      </div>
      <div class="right">
          <table class="custom-table">
            <thead>
                <tr>
                    <th>Espace de fonctionnalité</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>The table body</td>
                </tr>
            </tbody>
          </table>
          <fieldset class="label">
            <legend class="label-title">Remarques</legend>
          </fieldset>
      </div>
    </div>
  </section>
</div>