<div>
  <section class="content">
    <h5 class="subtitle">Régime hydrique</h5>
    <table class="custom-table">
      <thead>
        <tr>
          <th>Entrée d'eau</th>
          <th>Permanence</th>
          <th>Toponymie et compléments d'information</th>
        </tr>
      </thead>
      <tbody>
        {% for entree in data['fonctionnement']['regime']['entree'] %}
        <tr>
          <td>{{ entree['type'] }}</td>
          <td>{{ entree['permanence'] }}</td>
          <td>{{ entree['toponymie'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="custom-table">
      <thead>
        <tr>
          <th>Sortie d'eau</th>
          <th>Permanence</th>
          <th>Toponymie et compléments d'information</th>
        </tr>
      </thead>
      <tbody>
        {% for sortie in data['fonctionnement']['regime']['sortie'] %}
        <tr>
          <td>{{ sortie['type'] }}</td>
          <td>{{ sortie['permanence'] }}</td>
          <td>{{ sortie['toponymie'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="content">
    <h5 class="subtitle">Connexion de la zone humide dans son environnement</h5>
    <span class="small-title">
      <b>{{ data['fonctionnement']['connexion'] }}</b>
    </span>
    {% set connexions = {
    "Aucune connexion": "aucune_connexion.svg",
    "Entrée et sortie": "entree_sortie.svg",
    "Entrée": "entree.svg",
    "Sortie": "sortie.svg",
    "Traversée": "traversee.svg",
    "Passe à coté": "passe_a_cote.svg",
    } %}
    <img src="{{ url_for('pr_zh.static', filename=connexions[data['fonctionnement']['connexion']]) }}">
  </section>
</div>