<div class="flex-container-col">
  <section class="content col">
    <h5 class="subtitle">Régime hydrique</h5>
    <div class="flex-container">
      <div class="left">
        <table class="custom-table">
          <thead>
              <tr>
                <th>Entrée d'eau</th>
                <th>Permanence</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>Eaux de crues</td>
                <td>saisonnier</td>
              </tr>
              <tr>
                <td>nappes</td>
                <td>permanent</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="right">
        <table class="custom-table">
          <thead>
              <tr>
                <th>Sortie d'eau</th>
                <th>Permanence</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>évaporation</td>
                <td>saisonnier</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="content col">
    <h5 class="subtitle">Connexion de la ZH dans son environnement</h5>
    <div class="flex-container">
      <p>IMG PASSE A COTE</p>
    </div>
  </section>
  <section class="content col">
    <h5 class="subtitle">Usage ou processus naturels</h5>
    <div class="flex-container">
      <table class="custom-table">
        <thead>
            <tr>
              <th>Activité</th>
              <th>Localisation</th>
              <th>Facteurs influençant l'écolution de la zone humide</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>19- gestion
                conservatoire</td>
              <td>au niveau de la zone humide et de 
                l'espace de fonctionnalité</td>
              <td>70- PRATIQUES DE GESTION OU D'EXPLOITATION DES ESPÈCES ET HABITATS</td>
            </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>