
<div class="flex-container">
  <div class="left">
    <section class="content">
      <div class="left">
        <fieldset class="label">
          <legend class="label-title">Bassin versant</legend>
        </fieldset>
        <fieldset class="label">
          <legend class="label-title">Nom usuel de la zone humide</legend>
        </fieldset>
        <fieldset class="label">
          <legend class="label-title">Typologie SDAGE</legend>
        </fieldset>
      </div>
      <div class="right">
        <fieldset class="label">
          <legend class="label-title">Communes</legend>
          <p>Commune 1</p>
          <p>Commune 2</p>
        </fieldset>
        <fieldset class="label">
          <legend class="label-title">Code de la zone humide</legend>
        </fieldset>
      </div>
    </section>
  </div>
  <div class="right">
    <section class="content">
      <div class="left">
        <fieldset class="label">
          <legend class="label-title">Date d'établissement</legend>
        </fieldset>
        <fieldset class="label">
          <legend class="label-title">Auteur</legend>
        </fieldset>
        <fieldset class="label">
          <legend class="label-title">Organisme</legend>
        </fieldset>
      </div>
      <div class="right">
        <fieldset class="label">
          <legend class="label-title">Date de modification</legend>
        </fieldset>
        <fieldset class="label">
          <legend class="label-title">Auteur</legend>
        </fieldset>
      </div>
    </section>
  </div>
</div>
<div class="flex-container">
  <section class="content">
    <p style="width: 100%;"> THIS IS THE MAP</p>
    <div class="left">
      <fieldset class="label">
        <legend class="label-title">Date de modification</legend>
      </fieldset>
      <fieldset class="label">
        <legend class="label-title">Auteur</legend>
      </fieldset>
    </div>
  </section>
</div>