
<div class="flex-container">
  <div class="left">
    <section class="content col">
      <div class="fieldset">
        <label>Nom usuel zone humide</label>
        <span>Zone humide</span>
      </div>
      <div class="flex-container">
        <div class="left">
          <div class="fieldset">
            <label>Bassin versant</label>
          </div>
          <div class="fieldset">
            <label>Typologie SDAGE</label>
          </div>
        </div>
        <div class="right">
          <div class="fieldset">
            <label>Communes</label>
            <span>Commune1</span><br>
            <span>Commune2</span>
          </div>
          <div class="fieldset">
            <label>Code zone humide</label>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="right">
    <section class="content col">
      <div class="fieldset">
        <label>Date d'établissement</label>
      </div>
      <div class="fieldset">
        <label>Date de modification</label>
      </div>
      <div class="flex-container">
        <div class="left">
          <div class="fieldset">
            <label>Auteur</label>
          </div>
          <div class="fieldset">
            <label>Organisme</label>
          </div>
        </div>
        <div class="right">
          <div class="fieldset">
            <label>Auteur</label>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="flex-container">
  <section class="content">
    <p style="width: 100%;"> THIS IS THE MAP</p>
    <div class="left">
      <div class="fieldset">
        <label>Date de modification</label>
      </div>
      <div class="fieldset">
        <label>Auteur</label>
      </div>
    </div>
  </section>
</div>