<div class="flex-container-col">
  <div class="flex-container">
    <div class="left">
      <section class="content col">
        <h5 class="subtitle">
          Statuts
        </h5>
        <div class="flex-container">
          <table class="custom-table">
            <thead>
                <tr>
                  <th>Régime foncier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>collectivité territoriale (communal, départemental, régional, syndicat mixte)</td>
                </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="content col">
        <h5 class="subtitle">
          Principaux statuts de protection
        </h5>
        <div class="flex-container">
          <table class="custom-table">
            <thead>
                <tr>
                  <th>Régime foncier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>16 - Terrain acquis par un syndicat mixte de Parc Nationnal</td>
                </tr>
                <tr>
                  <td>62 - Zone Spéciale de Conservation (Directive Habitats)</td>
                </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class="right">
      <section class="content col">
        <h5 class="subtitle">
          Gestion
        </h5>
        <h5 class="subtitle center">
          Instruments contractuels et financiers
        </h5>
        <div class="flex-container">
          <table class="custom-table">
            <thead>
                <tr>
                  <th>Type</th>
                  <th>Organisme</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Document d’objectifs 
                    Natura 2000</td>
                  <td>Parc Naturel Régional du Luberon
                  </td>
                </tr>
                <tr>
                  <td>Document d’objectifs 
                    Natura 2000</td>
                  <td>Parc Naturel Régional du Luberon
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <h5 class="subtitle center">
          Plan de gestion
        </h5>
        <div class="flex-container">
          <table class="custom-table">
            <thead>
                <tr>
                  <th>Nature</th>
                  <th>Opérateur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>naturaliste</td>
                  <td>CEN PACA - F. MENETRIER / PNRL - J. BRICHARD
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <div class="flex-container-col">
    <section class="content col">
      <h5 class="subtitle">
        Zonage des documents d'urbanisme
      </h5>
      <div class="flex-container">
        <table class="custom-table">
          <thead>
              <tr>
                <th>Commune</th>
                <th>Type de document communal</th>
                <th>Type de classement</th>
                <th>Remarques</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>Simiane-Collongue</td>
                <td>Plan d'Occupation des Sols (POS) </td>
                <td>Zones de protection des ressources naturelles agricoles (NC) </td>
                <td></td>
              </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="content col">
      <h5 class="subtitle">
        Autres inventaires
      </h5>
      <div class="flex-container">
        <table class="custom-table">
          <thead>
              <tr>
                <th>Test</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>RAMSAR</td>
              </tr>
              <tr>
                <td>ZICO</td>
              </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>