<div>
  <section class="content col">
    <h5 class="subtitle">
      Régime foncier - Statut de propriété
    </h5>
    <table class="custom-table">
      <thead>
          <tr>
            <th>Statut</th>
            <th>Remarques</th>
          </tr>
      </thead>
      <tbody>
          {% for regime in data['statuts']['regime'] %}
          <tr>
            <td>{{ regime['status'] }}</td>
            <td>{{ regime['remarques'] }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="content col">
    <h5 class="subtitle">
      Structure de gestion
    </h5>
      {% for structure in data['statuts']['structure'] %}
        <span class="small-title"><b>{{ structure['structure'] }} : </b></span>
        {% if structure['plans'] %}
        <table class="custom-table">
          <thead>
              <tr>
                <th>Nature du plan</th>
                <th>Date de réalisation</th>
                <th>Durée (années)</th>
              </tr>
          </thead>
          <tbody>
              {% for plan in structure['plans'] %}
              <tr>
                <td>{{ plan['plan'] }} </td>
                <td>{{ plan['date'] }} </td>
                <td>{{ plan['duree'] }} </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% else %}
        <span class="small-title">Aucun plan de gestion renseigné</span><br>
        {% endif %}
    {% endfor %}
  </section>
  <br>
  <section class="content col">
    <h5 class="subtitle">
      Instruments contractuels et financiers
    </h5>
    <table class="custom-table">
      <thead>
          <tr>
            <th>Instruments contractuels et financiers</th>
            <th>Date de mise en oeuvre</th>
          </tr>
      </thead>
      <tbody>
          {% for instru in data['statuts']['instruments'] %}
          <tr>
            <td>{{ instru['instrument'] }}</td>
            <td>{{ instru['date'] or "" }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="content col">
    <h5 class="subtitle">
      Principaux statuts
    </h5>
    {% for status in data['statuts']['statuts'] %}
    <span class="small-title">{{ status['category'] }}</span><br>
    {% for item in status['items'] %}
    <span class="small-title">{{ item['status'] }}</span><br>
    {% endfor %}
    {% endfor %}
  </section>
  <section class="content col">
    <h5 class="subtitle">
      Autres inventaires
    </h5>
    <table class="custom-table">
      <tbody>
        {% for type in data['config']['ref_geo_referentiels'] %}
        {% if type["active"] %}
        <tr>
          <td class="border-bottom">{{ type['zh_name'] }}</td>
          <td class="border-bottom">
            {% if not data['statuts']['autres_inventaires'][type['zh_name']] %}
            <span>Aucun</span><br>
            {% else %}
            {% for ref in data['statuts']['autres_inventaires'][type['zh_name']] %}
            <span>
              {{ ref.area_code }} -
              <a href="{{ ref.url }}">{{ ref.area_name }}</a>
            </span><br>
            {% endfor %}
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td class="border-bottom">Autres études / inventaires naturalistes</td>
          <td class="border-bottom">{{ data['statuts']['autre_etude'] }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="content col">
    <h5 class="subtitle">
      Zonage des documents d'urbanisme
    </h5>
    <table class="custom-table">
      <thead>
          <tr>
            <th>Commune</th>
            <th>Type de document communal</th>
            <th>Type de classement</th>
            <th>Remarques</th>
          </tr>
      </thead>
      <tbody>
          {% for zonage in data['statuts']['zonage'] %}
          <tr>
            <td>{{ zonage['commune'] }}</td>
            <td>{{ zonage['type_doc'] }}</td>
            <td>
            {% for classement in zonage['type_classement'] %}
            <span>{{ classement }}</span><br>
            {% endfor %}
            </td>
            <td>{{ zonage['remarque']}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </section>
</div>